/* Campaigns CSS */
#gridcampaigns{
	
	text-align: center;
	
}
.campaigns-wrapper{
	margin:0 auto;
	max-width:100%;
	padding:0px 15px;

	.intro-text{
		color:#3a3a3a;
		font-size:18px;
		letter-spacing:0.3px;
		line-height:28px;
		margin:0 auto 35px;
		max-width: 1090px;
		width: 100%;
    }

	

	.campaigns-item-wrapper-copy{
		background-color:#2d2d2d;
		bottom:9px;
		color:@colorWhite;
		padding: 27px 20px;
		position: absolute;
    	text-align:right;
    	.transition (bottom 0.5s);
		width: ~"calc(100% - 14px)";

		@media screen and (max-width: 520px){
			width:100%;
		}

		.campaigns-item-copy{
			display:inline-block;
			position:relative;
			width:90%;
		}
		.desc{
			clear:both;
			display:none;
			float:right;
			font-size:12px;
			font-weight:normal;
			letter-spacing:0.3px;
			line-height:16px;
			margin-top:8px;
			max-width:160px;
			text-decoration:underline;
		}
		.title{
			clear:both;
			float:right;
			font-size:18px;
			font-weight:bold;
			letter-spacing:0.3px;
			line-height:22px;
			max-width:210px;
			text-transform:uppercase;
		}
	}

}


