
/*Contact*/


/*====================================================*/


.contact-wrapper ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

.contact-wrapper ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

.contact-wrapper :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

.contact-wrapper :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}


.contact__theme .body-wrap.content>.text-center {
    max-width: 920px;
    margin: 0 auto;
    display: block;
}

.contact-wrapper {
	.container-section {
	    max-width: 920px;
	}
	
	
	.form-wrapper {
	    max-width: 640px;
	    margin: 0 auto;
	    padding-bottom:40px;
	    .form-control {
		    color: #3a3a3a;
		    background: transparent;
		    border-width: 2px;
		    border-style: solid;
		    border-color: @colorPink;
		    border-radius: 0;
		    box-shadow: none;
		    padding: 10px 15px;
		    height: auto;
		    
		}

	}

	label{
    	font-size:18px;
    	font-weight:bold;
    }
    .maps{
    	margin:0 auto;
    	padding:50px 0 10px;
    }
    .maps-details{
    	max-width: 640px;
    	margin:0 auto;
    	padding:5px 0 30px;

    	&:before{
    		background-color:@colorBlue;
    		border-radius:5px;
    		content:"";
    		display:block;
    		height:4px;
    		margin-bottom:5px;
    		width:18px;
    	}
    	a, a:hover, a:visited, a:focus{
    		color:@colorPink;
    	}

    }

}
	
