
/* Coverage CSS */

.coverage-wrapper{
    margin-bottom:30px;
    .coverage-area{
        margin-bottom:100px;
        .map{
            h4{
                color:@colorPink;
                margin-bottom: 22px;
            }
        }
    }

    

    .dropdown-custom>ul>li>a:focus, 
    .dropdown-custom>ul>li>a:hover,
    .dropdown-custom>ul>li.active>a, 
    .dropdown-custom>ul>li.active>a:focus, 
    .dropdown-custom>ul>li.active>a:hover {
        color: #fe414e;
    }

}

.dropdown-custom {
    margin-bottom: 35px;
}

.dropdown-custom>ul>li {
    margin:0 25px 0 0px;
    &:last-child{
        margin:0px;
    }

    @media screen and (max-width: 767px){
        margin:0px;
    }
}

.dropdown-custom>ul>li>a{
    color: @colorBlue;
    padding: 15px 0px 10px;
    margin: 0;
    background: 0 0;
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    position: relative;
}

.dropdown-custom>ul>li>a:focus, 
.dropdown-custom>ul>li>a:hover,
.dropdown-custom>ul>li.active>a, 
.dropdown-custom>ul>li.active>a:focus, 
.dropdown-custom>ul>li.active>a:hover {
    padding: 15px 0px 10px;
}


.dropdown-custom>.dropdown-toggle{
    padding: 10px 25px 10px 0px;
}

.dropdown-custom>ul>li>a::before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 3px;
    background-color: #fe414e;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition-property: left,right,opacity;
    transition-property: left,right,opacity;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
