@font-face {
  font-family: 'mm-socmed';
  src:  url('assets/fonts/mm-socmed.eot?hkphut');
  src:  url('assets/fonts/mm-socmed.eot?hkphut#iefix') format('embedded-opentype'),
    url('assets/fonts/mm-socmed.ttf?hkphut') format('truetype'),
    url('assets/fonts/mm-socmed.woff?hkphut') format('woff'),
    url('assets/fonts/mm-socmed.svg?hkphut#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mm-socmed' !important;
  speak: none;
  font-size: 27px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-if_facebook_circle .path1:before {
  content: "\e900";
  color: rgb(78, 113, 168);
}
.icon-if_facebook_circle .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-if_instagram_circle .path1:before {
  content: "\e902";
  color: rgb(229, 53, 105);
}
.icon-if_instagram_circle .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-if_linkedin_circle .path1:before {
  content: "\e904";
  color: rgb(22, 134, 176);
}
.icon-if_linkedin_circle .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-if_pinterest_circle .path1:before {
  content: "\e906";
  color: rgb(202, 55, 55);
}
.icon-if_pinterest_circle .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}