/* Footer CSS */
footer{
	background-color:@colorGrey;
	color:@colorWhite;
    padding-bottom: 80px;
    padding-top: 50px;

    @media only screen and (max-width:768px){
    	padding-bottom: 120px;
    }

    a{
		color:@colorWhite;
		&:hover, &:focus, &:active, &:visited{
			color:@colorWhite;
		}
	}
	
	#scrolltop{
		bottom: 70px;
		@media only screen and (max-width:768px){
	    	bottom: 35px;
	    }
	}

    .footer-info{
    	font-size:12px;
    	line-height:19px;
    	text-transform:uppercase;
    	&.email{
    		margin-top:10px;

    	}
    	&.copyright{
    		margin-top:25px;
    		.copy{
    			text-transform:none;
    		}
    	}
    }

   	.footer-chatbox {
	    margin-top: 0px;
	    position: fixed;
	    bottom: 60px;
	    right: 150px;
	    @media only screen and (max-width:768px){
	    	bottom: 20px;
	    }
	}



    h2{
    	color:@colorWhite;
    	font-size:18px;
    	letter-spacing:.3px;
    	line-height: 20px;
    	margin-top:10px;
    	margin-top:0;
    	text-transform:uppercase;
    }

    .container-fluid{
    	position:relative;
    	
    }
   
}

body.stories, body.about, body.about__theme, body.white__theme, body.search-results{
	footer{
		ul.footer-links{
			display:inline-block;
			list-style:none;
			padding-left:0px;
			li{
				display:inline-block;
				&:after{
					background-color:#252525;
					content:"";
					display:inline-block;
					height:13px;
					margin:0 12px;
					position: relative;
	    			top: 2px;
					width:1px;
				}
				&:last-child:after{
					display:none;
				}
				a{
					color:#252525;
					font-size:12px;
					font-weight:bold;
					text-transform:uppercase;
				}
				&.current_page_item a{
					color:#fb313e;
				}
			}

			@media screen and (max-width:768px){
				text-align:center;
			}
		}
	}
}