/* Home CSS */

/** HOME HERO **/
.feature-slider-home {
	margin-bottom: 35px;
	position:relative;
	&:before {
	    background-color: @colorBlue;
	    content: "";
	    display: block;
	    height: 30px;
	    position:absolute;
	    top:100%;
	    width: 100%;
	}
	 &:after {
	    background-color: @colorPink;
	    content: "";
	    display: block;
	    height: 5px;
	    position:absolute;
	    top:~"calc(100% + 30px)";
	    width: 100%;
	}
	.slick-carousel{
		.fill{
			background-position:center center;
			background-repeat:no-repeat;
			background-size:cover;
			display:block;
			padding-top:0;
			min-height:~"calc(100vh - 145px)";
			width:100%;

			.carousel-caption-slide{
				bottom:5px;
				color:@colorWhite;
				font-size:40px;
				font-weight:bold;
				left: 50%;
				line-height:50px;
			    max-width: 750px;
			    position: absolute;
			    text-align: center;
			    text-shadow: 0px 2px 1px #363738;
			    .transform (translateX(-50%));
			    width: 100%;
			    p{
			    	font-size:40px;
					font-weight:bold;
					line-height:50px;
					margin-bottom:0px;
					text-shadow: 0px 2px 1px #363738;
			    }
			    @media screen and (max-width:768px){
			    	font-size:30px;
					line-height:34px;
					p{
						font-size:30px;
						line-height:34px;
					}
			    }

			    @media screen and (max-width:480px){
			    	font-size:24px;
					line-height:28px;
					p{
						font-size:24px;
						line-height:28px;
					}
			    }
			}

			@media screen and (max-width:768px){
				min-height:inherit;
				padding-top:62.5%;
				.carousel-caption-slide{
					bottom:3%;
				}
			}

		}
	}
}


/** Thumbnail Box Feature **/
.feature-thumbnail-box{
	padding-top:10px;
	text-align:center;
	h2{
		color:@colorBlue;
		font-size:30px;
		letter-spacing:0.3px;
		margin-bottom:20px;
		padding-top: 30px;
		text-transform:uppercase;
		@media screen and (max-width:480px){
			font-size:28px;
			line-height:32px;
		}
	}
	ul{
		list-style:none;
		max-width:100%;
		padding-left:0px;
		text-align:center;
		li{
			color:@colorWhite;
			display:inline-block;
			margin:10px 25px 25px 0px;
			width:~"calc(33.333% - 20px)";
			vertical-align:top;
			&:last-child{
				margin:10px 0px 25px 0px;
			}

			@media screen and (max-width:768px){
				display:block;
				margin:10px auto;
				max-width:300px;
				width:100%;
				&:last-child{
					display:block;
					margin:10px auto;
				}
			}

			@media screen and (max-width:480px){
				display:block;
				margin:10px auto;
				max-width:250px;
				width:100%;
				&:last-child{
					display:block;
					margin:10px auto;
				}
			}
		}
	}
	.wrapper-feature{
		background-color:@colorPink;
		padding:35px 25px;
		.feature-row1{
			display:table;
			padding-bottom:15px;
			width:100%;

			h3{
				color:@colorWhite;
				font-size:24px;
				line-height:30px;
			}

			.wrapper-content-row1{
				display:table-cell;
				text-align: center;
				vertical-align:middle;
			}
			
		}
		.feature-text{
			font-size: 18px;
			font-weight:500;
			letter-spacing:0.3px;
			line-height:25px;
		}

	}

}


/* HOME BOTTOM LINKS */
.home-bottom-links{
	ul{
		margin:50px auto;
		text-align:center;
		li{
			display:inline-block;
			margin:0px auto 5px;
			max-width:300px;
			width:33.33%;

			@media screen and (max-width:768px){
				width:100%;
			}

			.btn, .button, button{
				font-size:18px;
			}
		}
	}
}