/* Insight CSS */

.insight-wrapper{
	
	.container-fluid{
		margin-bottom:150px;
	}
	
	.intro-text{
		color:#3a3a3a;
		font-size:18px;
		letter-spacing:0.3px;
		line-height:28px;
		margin:0 auto 45px;
		width: 100%;
    }

	.wrapper-cta{
		background-color:@colorBlue;
		text-align:center;
		&:before {
		    background-color: @colorPink;
		    content: "";
		    display: block;
		    height: 5px;
		    width: 100%;
		}
		.content-cta{
			padding:35px 0 50px;
			h2{
				color:@colorWhite;
				font-size:30px;
				letter-spacing:0.3px;
				line-height:34px;
				margin-bottom: 20px;
				text-align:center;
				text-transform:uppercase;
			}
			a{
				color:@colorWhite;
				&.btn{
					font-size:18px;
					line-height:20px;
					padding:15px 55px;
				}
			}
		}
	}

}


