/* General CSS */

body{
	background-color:@colorWhite;
	color:#3a3a3a;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	font-weight: normal;
    font-style: normal;

    &:before {
	    background-color: @colorBlue;
	    content: "";
	    display: block;
	    height: 30px;
	    margin-top:74px;
	    width: 100%;
	    @media screen and (max-width:1080px){
			margin-top:65px;
		}
	    @media screen and (max-width:1010px){
			margin-top:68px;
		}
	}

    &.stories, &.white__theme{
		background-color:@colorWhite;
	}

}


.body-wrap.content{
    margin-top:0px;
	min-height: ~"calc(100vh - 310px)";

	&:before {
	    background-color: @colorPink;
	    content: "";
	    display: block;
	    height: 5px;
	    width: 100%;
	}
	
}
.container-fluid{
	margin:0 auto;
	max-width:1120px;
}

/** BUTTONS **/
button, .button, .btn{
	border:4px @colorPink solid;
	border-radius:0px;
	color:@colorPink;
	font-size:16px;
	font-weight:500;
	outline:0;
	text-transform:uppercase;
	
	&:hover{
		color:@colorWhite;
	}
	&:active{
		.box-shadow (none);
	}


}

.btn-normal.btn-pink:focus, .btn-normal.btn-pink:hover{
	border-color: #ed3c48;	
}

.hvr-sweep-to-left:before, .hvr-sweep-to-right:before {
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: @colorPink;
    -webkit-transition-timing-function: ease-out;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color:transparent;
}


/** 404 **/
body.page-notfound{
	background-image:url('assets/images/bg-404.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 50% bottom;
	h2{
		letter-spacing:3px;
		margin-bottom: 300px;
		text-align:center;
		text-transform:uppercase;
	}
	.img-car-mobile{
		display:none;
		@media only screen and (max-width:768px){
			background-image:url('assets/images/bg-404-mobile.png');
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center bottom;
			display:block;
		}
	}

	@media only screen and (max-width:768px){
		background-image:none;
		h2{
			font-size:32px;
			margin-bottom: 10px;
		}
		.img-car-mobile{
			background-image:url('assets/images/bg-404-mobile.png');
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center top;
			display:block;
			height: 410px;
			width: 100%;
    
		}
	}

	@media only screen and (max-width:480px){
		.img-car-mobile{
			height: 250px;
		}
	}

}


/** FORM **/
textarea{
	resize: none;
}
textarea::-webkit-resizer {
  display: none;
}


/** TYPOGRAPHY **/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	color:@colorBlue;
	font-weight:700;
}
h1, .h1{
	font-size:36px;
	line-height:40px;
	text-transform:uppercase;
}
h2, .h2{
	font-size:44px;
	line-height:48px;
}
h3, .h3{
	font-size:40px;
	line-height:44px;
}
h4, .h4{
	font-size:30px;
	line-height:34px;
}
h5, .h5{
	font-size:24px;
	line-height:28px;
}
h6, .h6, p{
	font-size:18px;
	line-height:28px;
	&.pink{
		color:@colorPink;
	}
}
p{
	margin-bottom:20px;
}

.fa-angle-up:before {
    content: "\f107";
}


.skip-access {
    height: 0px;
    overflow: hidden;
    position: absolute;
    width: 0px;
}

/* OVERWRITE SAM CSS */
.button_1O{
	@media only screen and (max-width:767px){
		display:none !important;
	}
}



.creative .container{
	max-width: 1135px;
    width: 100%;
}
.dropdown-custom>ul>li>a {
	letter-spacing:0.3px;
    text-transform:uppercase;
}


.page-title{
	border:0px;
	color:@colorBlue;
	letter-spacing:0.3px;
	margin-bottom:30px;
	margin-top:35px;
	max-width:80%;
	padding:8px 30px;
}

/* OVERWRITE SAM CSS - Platform Inside Page */

.platform-inside-wrapper .intro-text p {
    color:@colorWhite;
}

.platform-inside-wrapper{
	@media screen and (max-width:915px) and (min-width:481px){
		.nav.navbar-nav.og-fmenus{
			max-width:90%;
		}
		.og-fmenus>li{
			margin-bottom: 7px;
			width:48%;
		}

		.og-fmenus .og-arrow:first-child, .og-fmenus .og-arrow:last-child {
		    position: absolute;
		    top: 50%;
		    left: 15px;
		    margin-top: -1px;
		}

		.og-fmenus .og-arrow:last-child {
		    left: auto;
		    right: 15px;
		}
	}

	@media screen and (max-width:600px){
		.nav.navbar-nav.og-fmenus{
			max-width:100%;
		}
	}

	@media screen and (max-width:515px){
		.og-fmenus>li{
			margin-bottom: 2px;
			width:100%;
		}
	}

}


/* OVERWRITE SAM CSS - About us Page */
.about__theme{
	.dropdown-custom>.dropdown-toggle, 
	.dropdown-custom>.dropdown-toggle:focus, 
	.dropdown-custom>.dropdown-toggle:hover {
	    color: @colorBlue;
	}
	.dropdown-custom>.dropdown-toggle::after{
		border-color:@colorBlue;
	}
}
.about-wrapper .clients-list figure{
	padding:3px;
}


/* OVERWRITE SAM CSS - Contact us Page */
.contact__theme {

	@media screen and (max-width:800px){
		background-image: none;
		.form-wrapper p{
			font-size:14px;
		}
	}
}


/* OVERWRITE SAM CSS - Creative Page */
@media screen and (max-width: 992px){
	.creative-wrapper .modal {
		padding-bottom: 30px;
    	top: 69px;
	    z-index:995;
	}
	.modal-backdrop{
		z-index:994;
	}
}
