/* Policies CSS */

.policies, .accreditation{
	
	
	.container-fluid .panel-body{
		font-size:16px;
		letter-spacing:0.3px;
		line-height:26px;
		margin-bottom:15px;
	    padding:20px 0px 0px;

	    a{
			color:#3a3a3a;
	    	font-weight:bold;
	    }

		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
			color:#3a3a3a;
		}
		h5{
			letter-spacing:0.3px;
			line-height:34px;
		}

		ol, ul{
			padding-left:30px;
		}

		p{
			font-size:16px;
			letter-spacing:0.3px;
			line-height:26px;
			margin-bottom:10px;
		}
	}

	h1{
		color:@colorBlue;
	}

	.intro-text{
		margin: 20px 0px 40px;
	}
	
}


.panel{
	border:0px;
	.box-shadow (none);
}

.panel-default, .panel-default>.panel-heading {
    border-color: transparent;
    background-color: transparent;
}

.panel-default>.panel-heading{
	border-bottom:3px solid @colorBlue;
	padding: 15px 0 0 0;
}
.panel-heading{
	padding:15px 0px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
	border:0px;
	padding-bottom:20px;
}

.panel-title{
	color:@colorBlue;
	font-size:30px;
	line-height:40px;
	@media only screen and (max-width:768px){
		font-size:25px;
		line-height:35px;
	}
	a{
		display:block;
		padding:0 0 15px 0;
		i{
			float:right;
			.transition (transform 0.5s);
			-webkit-transform: rotate(-180deg);
			    -ms-transform: rotate(-180deg);
			    transform: rotate(-180deg);
		}

		&.collapsed{
			
		    i{
				-webkit-transform: rotate(0deg);
			    -ms-transform: rotate(0deg);
			    transform: rotate(0deg);
			}
		}
		
	}
	a:hover, a:focus{
		text-decoration:none;
	}
}