/* Pricing Page CSS */


.pricing-wrapper{
	margin:0 auto;
	max-width:1120px;
	padding:0 15px;

	.intro-text{
		color:#3a3a3a;
		font-size:18px;
		letter-spacing:0.3px;
		line-height:28px;
		margin:0 0px 20px;
		@media screen and (max-width:580px){
			margin:0 0px 30px;
		}
	}

	.og-fmenus, .og-hmenus{
		left:50%;
		position:relative;
		text-align: center;
		.transform (translateX(-50%));
	}
	
	.og-hmenus>li {
	    padding: 0 5px;
	    width:269px;
	}
	.og-fmenus>li>a span{
		padding: 0 40px;
	}
	.og-fmenus>li>a.btn-bg-pink span{
		padding: 0px 2px;
	}

	

	.pricing-list{
		list-style:none;
		margin-bottom:50px;
		overflow:hidden;
		padding-left:0;
		li{
			display:inline-block;
			overflow:hidden;
			position:relative;
			vertical-align: top;
			width:~"calc(50% - 27.5px)";

			.wrapper-item{
				background-color:@colorWhite;
				height:100%;
				width:100%;
				position:relative;
			}

			&:nth-child(odd){
				clear:left;
				margin:30px 25px 30px 0px;
				.wrapper-item{
					animation-delay: 50ms;
				}
			}

			&:nth-child(even){
				margin:30px 0px 30px 25px;
				.wrapper-item{
					animation-delay: 150ms;
				}
			}

			@media screen and (max-width:768px){
				width:~"calc(50% - 17.5px)";

				&:nth-child(odd){
					margin:15px 15px 15px 0;
				}

				&:nth-child(even){
					margin:15px 0 15px 15px;
				}
			}

			@media screen and (max-width:580px){
				margin:15px 0px;
				width:100%;
				&:nth-child(odd){
					animation-delay: 100ms;
					margin:15px 0;
				}

				&:nth-child(even){
					animation-delay: 200ms;
					margin:15px 0;
				}
			}

			.pricing-item-desc-content{
				padding-bottom:20px;
			}
			.pricing-item-desc{
				background-color:@colorWhite;
				border: 3px solid @colorPink;
				border-top:0px;
				color:@colorBlue;
				font-size:16px;
				letter-spacing:0.3px;
				line-height:26px;
				padding:28px;
			}

			.pricing-item-img{
				background-color:@colorWhite;
				padding-top: 60%;
				position:relative;
				div{
					background-position:center center;
					background-repeat:no-repeat;
					background-size:cover;
					bottom:0;
					left:0;
					position:absolute;
					right:0;
					top:0;
				}
			}

			.pricing-item-title{
				background-color:@colorPink;
				color:@colorWhite;
				font-size:18px;
				font-weight:bold;
				letter-spacing:0.3px;
				line-height:28px;
				padding:18px 28px;
				text-transform:uppercase;
			}

		}
	}

}
