/*
 Variables
*/

/* Primary Colors */
@colorBlack: #000000;
@colorBlue:#25258e;
@colorGrey: #333333;
@colorLightGrey: #eeeeef;
@colorPink:#ed3c48;
@colorWhite: #ffffff;


/* Secondary Colors */
@colorSecondLightBlue:#00b3f0;
@colorSecondLightPink:#e58087;
@colorSecondOrange:#ecae46;
@colorSecondPink:#eb1c23;
@colorSecondPurple:#7474c7;


/* width */
@fullwidth:100%;
