<table cellpadding='10' style='width:600px;border:1px solid #414042;border-collapse: separate;border-spacing: 0px;'>
<thead>
<tr>
<th  colspan='4' style='text-align:center;border-bottom:1px solid #fff;background:#414042;color:#fff; font-family:arial;'>
	Message From Apply With Us
</th>
</tr>
</thead>
<tbody>
<tr>
	<td style='width:250px;font-family:arial;'><strong>First Name</strong></td>
	<td style='font-family:arial;'>: </td>
	<td style='font-family:arial;'>Clarine</td>
</tr>
<tr>
	<td style='width:250px;font-family:arial;'><strong>Last Name</strong></td>
	<td style='font-family:arial;'>: </td>
	<td style='font-family:arial;'>t</td>
</tr>
<tr>
	<td style='width:250px;font-family:arial;'><strong>Contact Number</strong></td>
	<td style='font-family:arial;'>: </td>
	<td style='font-family:arial;'>+241 1111</td>
</tr>
<tr>
	<td style='width:250px;font-family:arial;'><strong>Email</strong></td>
	<td style='font-family:arial;'>: </td>
	<td style='font-family:arial;'><a href="mailto:clarine@wishbone.com.sg">clarine@wishbone.com.sg</a></td>
</tr>
<tr>
	<td style='width:250px;font-family:arial;'><strong>Position Applying For</strong></td>
	<td style='font-family:arial;'>: </td>
	<td style='font-family:arial;'>Software Developer</td>
</tr>
<tr>
	<td style='width:250px;font-family:arial;'><strong>Country</strong></td>
	<td style='font-family:arial;'>: </td>
	<td style='font-family:arial;'>Singapore</td>
</tr>
<tr>
	<td style='width:250px;font-family:arial;'><strong>Message </strong></td>
	<td style='font-family:arial;'>: </td>
	<td style='font-family:arial;'>tes</td>
</tr>
<tr><td style='height:50px;'></td></tr>
</tbody>
  <tfoot>
    <tr>
      <td colspan='4' style='text-align:center;border-top:1px solid #fff;background:#414042;color:#fff;'>
		<a style='color:#fff;font-family:arial;' target='_blank' href='#'>MOOVEMEDIA</a>
	  </td>
    </tr>
  </tfoot>
</table>