@font-face {
  font-family: 'mm-socmed';
  src: url('assets/fonts/mm-socmed.eot?hkphut');
  src: url('assets/fonts/mm-socmed.eot?hkphut#iefix') format('embedded-opentype'), url('assets/fonts/mm-socmed.ttf?hkphut') format('truetype'), url('assets/fonts/mm-socmed.woff?hkphut') format('woff'), url('assets/fonts/mm-socmed.svg?hkphut#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mm-socmed' !important;
  speak: none;
  font-size: 27px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-if_facebook_circle .path1:before {
  content: "\e900";
  color: #4e71a8;
}
.icon-if_facebook_circle .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: #ffffff;
}
.icon-if_instagram_circle .path1:before {
  content: "\e902";
  color: #e53569;
}
.icon-if_instagram_circle .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: #ffffff;
}
.icon-if_linkedin_circle .path1:before {
  content: "\e904";
  color: #1686b0;
}
.icon-if_linkedin_circle .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: #ffffff;
}
.icon-if_pinterest_circle .path1:before {
  content: "\e906";
  color: #ca3737;
}
.icon-if_pinterest_circle .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: #ffffff;
}
.js .fouc,
.fouc {
  /* avoid fouc if js avail */
  visibility: hidden;
}
.no-js .fouc {
  visibility: visible;
}
/*
  Mixins
*/
/*
 Variables
*/
/* Primary Colors */
/* Secondary Colors */
/* width */
/* General CSS */
body {
  background-color: #25258e;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
body.stories,
body.white__theme {
  background-color: #ffffff;
}
.body-wrap.content {
  margin-bottom: 150px;
  margin-top: 77px;
  min-height: calc(100vh - 250px);
}
@media screen and (max-width: 992px) {
  .body-wrap.content {
    margin-top: 56px;
  }
}
@media screen and (max-width: 800px) {
  .body-wrap.content {
    margin-bottom: 50px;
  }
}
.container-fluid {
  margin: 0 auto;
  max-width: 1120px;
}
/** BUTTONS **/
button,
.button,
.btn {
  border: 4px #ed3c48 solid;
  border-radius: 0px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  outline: 0;
  text-transform: uppercase;
}
button:hover,
.button:hover,
.btn:hover,
button:focus,
.button:focus,
.btn:focus {
  color: #ffffff;
}
button:active,
.button:active,
.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
button .arrow-left.og-arrow::after,
.button .arrow-left.og-arrow::after,
.btn .arrow-left.og-arrow::after,
button .arrow-left.og-arrow::before,
.button .arrow-left.og-arrow::before,
.btn .arrow-left.og-arrow::before {
  border-width: 0 0 2px 2px;
  left: 2px;
  right: inherit;
}
button .arrow-left.og-arrow::after,
.button .arrow-left.og-arrow::after,
.btn .arrow-left.og-arrow::after {
  left: 10px;
  right: inherit;
}
button.btn-bg-pink,
.button.btn-bg-pink,
.btn.btn-bg-pink {
  background-color: #ed3c48;
  color: #ffffff;
}
button.btn-bg-pink:hover,
.button.btn-bg-pink:hover,
.btn.btn-bg-pink:hover,
button.btn-bg-pink:active,
.button.btn-bg-pink:active,
.btn.btn-bg-pink:active,
button.btn-bg-pink:focus,
.button.btn-bg-pink:focus,
.btn.btn-bg-pink:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ed3c48;
}
button.btn-down-arrow,
.button.btn-down-arrow,
.btn.btn-down-arrow {
  min-width: inherit;
  padding: 20px 5px;
  /*min-height: 72px;*/
  min-width: 250px;
  background: transparent;
}
button.btn-down-arrow:after,
.button.btn-down-arrow:after,
.btn.btn-down-arrow:after,
button.btn-down-arrow:before,
.button.btn-down-arrow:before,
.btn.btn-down-arrow:before,
button.btn-down-arrow span,
.button.btn-down-arrow span,
.btn.btn-down-arrow span {
  display: inline-block;
  vertical-align: middle;
}
button.btn-down-arrow:after,
.button.btn-down-arrow:after,
.btn.btn-down-arrow:after,
button.btn-down-arrow:before,
.button.btn-down-arrow:before,
.btn.btn-down-arrow:before {
  background-image: url('assets/images/down-arrow-btn.png');
  background-repeat: no-repeat;
  content: "";
  display: none;
  height: 44px;
  width: 21px;
}
button.btn-down-arrow:after,
.button.btn-down-arrow:after,
.btn.btn-down-arrow:after {
  margin: 7px 25px 7px 20px;
}
button.btn-down-arrow:before,
.button.btn-down-arrow:before,
.btn.btn-down-arrow:before {
  margin: 7px 20px 7px 25px;
}
button.btn-down-arrow .og-arrow,
.button.btn-down-arrow .og-arrow,
.btn.btn-down-arrow .og-arrow {
  height: 3px;
  width: 40px;
  transform: rotate(90deg);
  margin: 0 10px;
}
button.btn-down-arrow .og-arrow:after,
.button.btn-down-arrow .og-arrow:after,
.btn.btn-down-arrow .og-arrow:after,
button.btn-down-arrow .og-arrow:before,
.button.btn-down-arrow .og-arrow:before,
.btn.btn-down-arrow .og-arrow:before {
  width: 15px;
  height: 15px;
  border-width: 3px 3px 0 0;
}
button.btn-down-arrow .og-arrow:before,
.button.btn-down-arrow .og-arrow:before,
.btn.btn-down-arrow .og-arrow:before {
  right: 12px;
}
button.btn-down-arrow-white,
.button.btn-down-arrow-white,
.btn.btn-down-arrow-white {
  border: 4px #ffffff solid;
  min-width: inherit;
  padding: 3px 0;
}
button.btn-down-arrow-white:after,
.button.btn-down-arrow-white:after,
.btn.btn-down-arrow-white:after,
button.btn-down-arrow-white:before,
.button.btn-down-arrow-white:before,
.btn.btn-down-arrow-white:before,
button.btn-down-arrow-white span,
.button.btn-down-arrow-white span,
.btn.btn-down-arrow-white span {
  display: inline-block;
  vertical-align: middle;
}
button.btn-down-arrow-white:after,
.button.btn-down-arrow-white:after,
.btn.btn-down-arrow-white:after,
button.btn-down-arrow-white:before,
.button.btn-down-arrow-white:before,
.btn.btn-down-arrow-white:before {
  background-image: url('assets/images/down-arrow-btn-white.png');
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 44px;
  width: 21px;
}
button.btn-down-arrow-white:after,
.button.btn-down-arrow-white:after,
.btn.btn-down-arrow-white:after {
  margin: 7px 25px 7px 20px;
}
button.btn-down-arrow-white:before,
.button.btn-down-arrow-white:before,
.btn.btn-down-arrow-white:before {
  margin: 7px 20px 7px 25px;
}
/** 404 **/
body.page-notfound {
  background-image: url('assets/images/bg-404.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% bottom;
}
body.page-notfound h2 {
  letter-spacing: 3px;
  margin-bottom: 300px;
  text-align: center;
  text-transform: uppercase;
}
body.page-notfound .img-car-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  body.page-notfound .img-car-mobile {
    background-image: url('assets/images/bg-404-mobile.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  body.page-notfound {
    background-image: none;
  }
  body.page-notfound h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  body.page-notfound .img-car-mobile {
    background-image: url('assets/images/bg-404-mobile.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    display: block;
    height: 410px;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  body.page-notfound .img-car-mobile {
    height: 250px;
  }
}
/** FORM **/
textarea {
  resize: none;
}
textarea::-webkit-resizer {
  display: none;
}
/** TYPOGRAPHY **/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #ffffff;
  font-weight: 700;
}
h1,
.h1 {
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
}
h2,
.h2 {
  font-size: 44px;
  line-height: 48px;
}
h3,
.h3 {
  font-size: 40px;
  line-height: 44px;
}
h4,
.h4 {
  font-size: 30px;
  line-height: 34px;
}
h5,
.h5 {
  font-size: 24px;
  line-height: 28px;
}
h6,
.h6,
p {
  font-size: 18px;
  line-height: 24px;
}
h6.pink,
.h6.pink,
p.pink {
  color: #ed3c48;
}
.fa-angle-up:before {
  content: "\f107";
}
.skip-access {
  height: 0px;
  overflow: hidden;
  position: absolute;
  width: 0px;
}
/* OVERWRITE SAM CSS */
/*.button_1O{
	@media only screen and (max-width:767px){
		display:none !important;
	}
}*/
.creative .container {
  max-width: 1135px;
  width: 100%;
}
.dropdown-custom > ul > li > a {
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.page-title {
  letter-spacing: 0.3px;
  margin-top: 50px;
  max-width: 80%;
  padding: 8px 30px;
}
/* OVERWRITE SAM CSS - Platform Inside Page */
.platform-inside-wrapper .intro-text p {
  color: #ffffff;
}
@media screen and (max-width: 915px) and (min-width: 481px) {
  .platform-inside-wrapper .nav.navbar-nav.og-fmenus {
    max-width: 90%;
  }
  .platform-inside-wrapper .og-fmenus > li {
    margin-bottom: 7px;
    width: 48%;
  }
  .platform-inside-wrapper .og-fmenus .og-arrow:first-child,
  .platform-inside-wrapper .og-fmenus .og-arrow:last-child {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -1px;
  }
  .platform-inside-wrapper .og-fmenus .og-arrow:last-child {
    left: auto;
    right: 15px;
  }
}
@media screen and (max-width: 600px) {
  .platform-inside-wrapper .nav.navbar-nav.og-fmenus {
    max-width: 100%;
  }
}
@media screen and (max-width: 515px) {
  .platform-inside-wrapper .og-fmenus > li {
    margin-bottom: 2px;
    width: 100%;
  }
}
/* OVERWRITE SAM CSS - About us Page */
.about__theme .dropdown-custom > .dropdown-toggle,
.about__theme .dropdown-custom > .dropdown-toggle:focus,
.about__theme .dropdown-custom > .dropdown-toggle:hover {
  color: #25258e;
}
.about__theme .dropdown-custom > .dropdown-toggle::after {
  border-color: #25258e;
}
.about-wrapper .clients-list figure {
  padding: 3px;
}
/* OVERWRITE SAM CSS - Contact us Page */
@media screen and (max-width: 800px) {
  .contact__theme {
    background-image: none;
  }
  .contact__theme .form-wrapper p {
    font-size: 14px;
  }
}
/* OVERWRITE SAM CSS - Creative Page */
@media screen and (max-width: 992px) {
  .creative-wrapper .modal {
    padding-bottom: 30px;
    top: 69px;
    z-index: 995;
  }
  .modal-backdrop {
    z-index: 994;
  }
}
/* Header CSS */
header {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  left: 0;
  padding: 13px 0px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
@media screen and (max-width: 992px) {
  header {
    padding: 10px 0px;
  }
}
/* Logo */
.wrapper-logo {
  display: inline-block;
  vertical-align: middle;
}
.wrapper-logo img {
  max-width: 150px;
  width: 100%;
}
@media screen and (max-width: 1030px) and (min-width: 993px) {
  .col-md-2.wrapper-logo {
    width: 13%;
  }
  .col-md-10.main-navigation {
    top: 0;
    width: 87%;
  }
}
/* Header Menu*/
.main-navigation {
  display: inline-block;
  padding-left: 0;
  position: relative;
  top: 8px;
  vertical-align: middle;
}
@media screen and (max-width: 992px) {
  .main-navigation {
    left: 0;
    padding-left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
.main-navigation .flag-lang {
  display: inline-block;
  position: relative;
  top: 4px;
  vertical-align: middle;
}
.main-navigation .flag-lang ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0;
}
.main-navigation .flag-lang ul li {
  display: inline-block;
  vertical-align: bottom;
}
.main-navigation .flag-lang ul .flag-lang-link {
  display: block;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.main-navigation .flag-lang ul .flag-lang-link:hover {
  text-decoration: none;
}
.main-navigation .flag-lang ul .flag-lang-link div {
  color: #25258e;
  font-size: 10px;
  font-weight: bold;
}
.main-navigation .flag-lang ul .flag-lang-link img {
  /*border:1px solid #c4c4c4;*/
  outline: 0;
  width: 35px;
}
.main-navigation .flag-lang.desktop ul {
  display: block;
}
@media screen and (max-width: 992px) {
  .main-navigation .flag-lang.desktop ul {
    display: none;
  }
}
.main-navigation .flag-lang.mobile {
  display: none;
  padding: 12px 0px 10px;
}
.main-navigation .flag-lang.mobile ul {
  padding: 0;
  text-align: center;
}
.main-navigation .flag-lang.mobile ul .flag-lang-link {
  margin: 0 5px;
}
@media screen and (max-width: 992px) {
  .main-navigation .flag-lang.mobile {
    display: block;
  }
}
.main-navigation ul.header-socmed {
  display: none;
  list-style: none;
  margin-bottom: 20px;
  padding-left: 0px;
  text-align: center;
}
.main-navigation ul.header-socmed li {
  display: inline-block;
  margin: 0 2px;
}
.main-navigation ul.header-socmed li a {
  border: 0px;
  text-decoration: none;
}
.main-navigation ul.header-socmed li a img {
  border: 0px;
  outline: 0;
}
@media screen and (max-width: 992px) {
  .main-navigation ul.header-socmed {
    display: block;
  }
}
.main-navigation .menu-mobile-btn {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 992px) {
  .main-navigation .menu-mobile-btn {
    display: inline-block;
    position: relative;
    right: -18px;
    top: 2px;
    width: 35px;
  }
}
.main-navigation .menu-mobile-btn .btn.btn-navbar {
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-width: inherit;
  padding: 0;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar {
  margin-top: -2px;
  position: absolute;
  right: 0px;
  top: 50%;
  -ms-transition: background 0.3s 0.3s;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar::before,
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar::after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: '';
  right: 0;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform .3s .3s;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar::before {
  top: -9px;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar::after {
  top: 9px;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar,
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar:before,
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar:after {
  background: #25258e;
  border-radius: 5px;
  display: block;
  height: 5px;
  position: absolute;
  width: 35px;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar.nav-is-visible span.icon-bar {
  background: transparent;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar.nav-is-visible span.icon-bar:before {
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.main-navigation .menu-mobile-btn .btn.btn-navbar.nav-is-visible span.icon-bar:after {
  -ms-transform: translateX(4px) translateY(3px) rotate(-45deg);
  -webkit-transform: translateX(4px) translateY(3px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(3px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(3px) rotate(-45deg);
  transform: translateX(4px) translateY(3px) rotate(-45deg);
}
@media screen and (max-width: 992px) {
  .main-navigation .main-navigation-wrapper-nav {
    background-color: white;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 69px;
  }
}
.main-navigation .nav {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
@media screen and (max-width: 992px) {
  .main-navigation .nav {
    display: block;
    left: 0;
    padding-bottom: 15px;
    right: 0;
    top: 0;
    width: 100%;
  }
}
.main-navigation .nav > li {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 992px) {
  .main-navigation .nav > li {
    width: 100%;
  }
}
.main-navigation .nav > li.current_page_item > a:before {
  left: 0;
  right: 0;
  text-decoration: none;
}
.main-navigation .nav > li > a {
  padding: 12px;
}
.main-navigation .nav > li a {
  color: #25258e;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 0 15px 0 0;
  overflow: hidden;
  padding: 10px 0px;
  position: relative;
  -ms-transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (max-width: 1080px) {
  .main-navigation .nav > li a {
    margin: 0 10px 0 0;
  }
}
@media screen and (max-width: 992px) {
  .main-navigation .nav > li a {
    font-size: 14px;
    margin: 0;
    padding: 6px 0;
    text-align: center;
    width: 100%;
  }
}
.main-navigation .nav > li a:before {
  background: #25258e;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  right: 50%;
  -webkit-transition-property: left,right;
  transition-property: left,right;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 992px) {
  .main-navigation .nav > li a:before {
    display: none;
  }
}
.main-navigation .nav > li a:hover,
.main-navigation .nav > li a:active,
.main-navigation .nav > li a:focus {
  background-color: transparent;
  outline: 0;
}
.main-navigation .nav > li a:hover:before {
  left: 0;
  right: 0;
  text-decoration: none;
}
.main-navigation .nav ul.nav-submenu {
  display: none;
  list-style: none;
  padding: 0 5px 5px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .main-navigation .nav ul.nav-submenu {
    display: block;
  }
}
.main-navigation .nav ul.nav-submenu li {
  margin-bottom: 3px;
}
.main-navigation .nav ul.nav-submenu li a {
  color: #ed3c48;
  margin: 0;
}
@media screen and (max-width: 992px) {
  .main-navigation .pull-right {
    position: relative;
    right: 15px;
    top: 20px;
  }
}
@media screen and (max-width: 992px) {
  .main-navigation .wrapper-nav-content-mobile {
    max-height: calc(100vh - 68px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    position: relative;
  }
}
/* Search */
.search-button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.search-button .fa.fa-search {
  color: #25258e;
  font-size: 23px;
}
.search-button.mobile {
  display: none;
  margin: 0 2px;
}
.search-button.mobile .fa.fa-search {
  font-size: 26px;
  position: relative;
  top: 1px;
}
@media screen and (max-width: 992px) {
  .search-button.desktop {
    display: none;
  }
  .search-button.mobile {
    display: inline-block;
  }
}
.search-bar-wrapper {
  background: #f6f6f6;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  display: none;
  left: 0;
  padding: 20px 0px;
  position: absolute;
  right: 0;
  top: 76px;
}
@media screen and (max-width: 992px) {
  .search-bar-wrapper {
    top: 69px;
  }
}
.search-bar-wrapper .form-search {
  position: relative;
}
.search-bar-wrapper .form-search.focus label {
  left: 13px;
  font-size: 11px;
  color: #000;
  padding: 0 5px;
  top: 5px;
}
.search-bar-wrapper label {
  background: transparent;
  color: #8f8f8f;
  display: block;
  font-size: 15px;
  font-weight: 300;
  left: 18px;
  margin: 0;
  position: absolute;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  top: 17px;
  z-index: 1;
}
.search-bar-wrapper input {
  border: 0px;
  border-radius: 0px;
}
.search-bar-wrapper .form-control {
  background-color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  color: #555555;
  height: auto;
  padding: 22px 18px 10px;
}
.search-bar-wrapper .form-control:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
/* Footer CSS */
footer {
  padding-bottom: 50px;
  padding-top: 40px;
}
@media only screen and (max-width: 800px) {
  footer {
    padding-bottom: 90px;
  }
}
footer .container-fluid {
  position: relative;
}
footer .footer-promotion-mobile {
  background-image: url('assets/images/promotion-minimize-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  background-color: #ed3c48;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 65px;
  width: 65px;
  opacity: 0;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 994;
}
@media only screen and (max-width: 800px) {
  footer .footer-promotion-mobile.bounceInUp {
    opacity: 1;
  }
}
footer #scrolltop {
  bottom: 60px;
  right: 35px;
}
footer #scrolltop.shown {
  z-index: 994;
}
@media only screen and (max-width: 800px) {
  footer #scrolltop {
    bottom: 100px;
    right: 30px;
  }
}
footer ul.footer-links {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
  vertical-align: middle;
}
footer ul.footer-links li {
  display: inline-block;
}
footer ul.footer-links li:after {
  background-color: #ffffff;
  content: "";
  display: inline-block;
  height: 13px;
  margin: 0 12px;
  position: relative;
  top: 2px;
  width: 1px;
}
footer ul.footer-links li:last-child:after {
  display: none;
}
footer ul.footer-links li a {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
footer ul.footer-links li.current_page_item a {
  color: #fb313e;
}
@media screen and (max-width: 768px) {
  footer ul.footer-links {
    text-align: center;
  }
}
footer ul.footer-socmed {
  display: inline-block;
  list-style: none;
  padding-left: 10px;
  vertical-align: middle;
}
footer ul.footer-socmed li {
  display: inline-block;
  margin: 0 2px;
}
footer ul.footer-socmed li a {
  border: 0px;
  text-decoration: none;
}
footer ul.footer-socmed li a img {
  border: 0px;
  outline: 0;
}
@media screen and (max-width: 768px) {
  footer ul.footer-socmed {
    display: none;
  }
}
body.stories footer ul.footer-links,
body.about footer ul.footer-links,
body.about__theme footer ul.footer-links,
body.white__theme footer ul.footer-links,
body.search-results footer ul.footer-links {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
}
body.stories footer ul.footer-links li,
body.about footer ul.footer-links li,
body.about__theme footer ul.footer-links li,
body.white__theme footer ul.footer-links li,
body.search-results footer ul.footer-links li {
  display: inline-block;
}
body.stories footer ul.footer-links li:after,
body.about footer ul.footer-links li:after,
body.about__theme footer ul.footer-links li:after,
body.white__theme footer ul.footer-links li:after,
body.search-results footer ul.footer-links li:after {
  background-color: #252525;
  content: "";
  display: inline-block;
  height: 13px;
  margin: 0 12px;
  position: relative;
  top: 2px;
  width: 1px;
}
body.stories footer ul.footer-links li:last-child:after,
body.about footer ul.footer-links li:last-child:after,
body.about__theme footer ul.footer-links li:last-child:after,
body.white__theme footer ul.footer-links li:last-child:after,
body.search-results footer ul.footer-links li:last-child:after {
  display: none;
}
body.stories footer ul.footer-links li a,
body.about footer ul.footer-links li a,
body.about__theme footer ul.footer-links li a,
body.white__theme footer ul.footer-links li a,
body.search-results footer ul.footer-links li a {
  color: #252525;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
body.stories footer ul.footer-links li.current_page_item a,
body.about footer ul.footer-links li.current_page_item a,
body.about__theme footer ul.footer-links li.current_page_item a,
body.white__theme footer ul.footer-links li.current_page_item a,
body.search-results footer ul.footer-links li.current_page_item a {
  color: #fb313e;
}
@media screen and (max-width: 768px) {
  body.stories footer ul.footer-links,
  body.about footer ul.footer-links,
  body.about__theme footer ul.footer-links,
  body.white__theme footer ul.footer-links,
  body.search-results footer ul.footer-links {
    text-align: center;
  }
}
/* Home CSS */
/** HOME HERO **/
.home-hero {
  background-image: url(assets/images/icons.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding-bottom: 0;
  overflow: hidden;
  min-height: calc(100vh - 50px);
}
.home-hero:before {
  content: "";
  display: inline-block;
  height: calc(100vh - 50px);
  vertical-align: middle;
}
.home-hero .gif {
  margin-left: -2px;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  width: 100%;
}
.home-hero h2 {
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 65px;
  padding: 0 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .home-hero h2 {
    font-size: 25px;
    line-height: 29px;
  }
}
@media screen and (max-width: 568px) {
  .home-hero h2 {
    font-size: 20px;
    line-height: 29px;
  }
}
.gif img {
  width: 100%;
  margin-bottom: 30px;
}
/** HOME IMAGES FEATURE **/
.home-images {
  text-align: center;
}
.home-images .home-images-content {
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .home-images .home-images-content {
    max-width: 100%;
  }
}
.home-images .home-images-content-copy {
  position: absolute;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .home-images .home-images-content-copy {
    margin: 0 20px;
  }
}
.home-images .home-images-content-copy h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 43px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .home-images .home-images-content-copy h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
@media screen and (max-width: 600px) {
  .home-images .home-images-content-copy h2 {
    font-size: 25px;
    line-height: 29px;
  }
}
@media screen and (max-width: 480px) {
  .home-images .home-images-content-copy h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
.home-images .home-images-content-copy span {
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .home-images .home-images-content-copy span {
    font-size: 16px;
    line-height: 20px;
  }
}
.home-images .home-images-content-img {
  border: 0;
  height: auto;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
  margin: 0 auto;
  max-height: inherit;
  outline: 0;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .home-images .home-images-content-img {
    max-width: 110vw;
    width: inherit;
  }
}
.home-images .home-images-link {
  color: #ffffff;
  text-decoration: none;
}
.home-images .home-images-link:hover,
.home-images .home-images-link:active,
.home-images .home-images-link:visited,
.home-images .home-images-link:focus {
  color: #ffffff;
  text-decoration: none;
}
.home-images .home-images-one {
  margin-bottom: 130px;
}
@media screen and (max-width: 600px) {
  .home-images .home-images-one {
    margin-bottom: 50px;
  }
}
.home-images .home-images-one .home-images-content .home-images-content-copy {
  margin: 50px 0 30px 19%;
  position: relative;
  text-align: right;
  max-width: 580px;
}
@media screen and (max-width: 768px) {
  .home-images .home-images-one .home-images-content .home-images-content-copy {
    max-width: 100%;
    margin: 50px 15px 30px;
    text-align: left;
  }
  .home-images .home-images-one .home-images-content .home-images-content-copy h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
@media screen and (max-width: 600px) {
  .home-images .home-images-one .home-images-content .home-images-content-copy {
    margin: 50px 15px 30px;
  }
  .home-images .home-images-one .home-images-content .home-images-content-copy h2 {
    font-size: 25px;
    line-height: 29px;
  }
}
@media screen and (max-width: 480px) {
  .home-images .home-images-one .home-images-content .home-images-content-copy {
    margin: 50px 15px 30px;
  }
  .home-images .home-images-one .home-images-content .home-images-content-copy h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
.home-images .home-images-one .home-images-content .home-images-content-img {
  max-width: 1324px;
}
@media screen and (max-width: 768px) {
  .home-images .home-images-one .home-images-content .home-images-content-img {
    max-width: 95vw;
    width: inherit;
  }
}
.home-images .home-images-two {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .home-images .home-images-two {
    margin-bottom: 30px;
  }
}
.home-images .home-images-two .home-images-content .home-images-content-copy {
  margin: 0px 0 80px 0;
  max-width: 700px;
  position: absolute;
  right: 20%;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .home-images .home-images-two .home-images-content .home-images-content-copy {
    margin: 0px 15px;
    max-width: 100%;
    position: relative;
    right: 0;
    text-align: right;
  }
}
.home-images .home-images-two .home-images-content .home-images-content-img {
  max-width: 1225px;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .home-images .home-images-two .home-images-content .home-images-content-img {
    max-width: 105vw;
    padding-top: 0px;
    width: inherit;
  }
}
.home-images .home-images-three {
  margin-bottom: 130px;
}
@media screen and (max-width: 600px) {
  .home-images .home-images-three {
    margin-bottom: 50px;
  }
}
.home-images .home-images-three .home-images-content .home-images-content-copy {
  margin: 50px 0 80px 20%;
  max-width: 640px;
  position: absolute;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .home-images .home-images-three .home-images-content .home-images-content-copy {
    margin: 0px 15px;
    max-width: 100%;
    position: relative;
    right: 0;
    text-align: left;
  }
}
.home-images .home-images-three .home-images-content .home-images-content-img {
  max-width: 1398px;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .home-images .home-images-three .home-images-content .home-images-content-img {
    max-width: 96vw;
    padding-top: 0px;
    width: inherit;
  }
}
.home-images .home-images-four {
  margin-bottom: 80px;
}
.home-images .home-images-four .home-images-content .home-images-content-copy {
  margin: 0px 0 80px 0;
  max-width: 510px;
  position: absolute;
  left: 56%;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .home-images .home-images-four .home-images-content .home-images-content-copy {
    left: 45%;
  }
}
@media screen and (max-width: 768px) {
  .home-images .home-images-four .home-images-content .home-images-content-copy {
    margin: 0 15px;
    max-width: 100%;
    left: auto;
    right: 0;
    text-align: right;
  }
}
.home-images .home-images-four .home-images-content .home-images-content-img {
  max-width: 1585px;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .home-images .home-images-four .home-images-content .home-images-content-img {
    left: -20%;
    max-width: 167vw;
    padding-top: 80px;
    width: inherit;
  }
}
/* Promotions CSS */
/* PROMOTION POP UP */
.pop-up-promotion-wrapper {
  display: none;
}
.pop-up-promotion-wrapper.visible {
  display: block;
}
.pop-up-promotion-wrapper.visible .pop-up-promotion-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 993;
}
@media screen and (max-width: 800px) {
  .pop-up-promotion-wrapper.visible .pop-up-promotion-overlay {
    display: block;
  }
}
.pop-up-promotion-wrapper.visible.hide-promo .pop-up-promotion-content .close-popup,
.pop-up-promotion-wrapper.visible.hide-promo .pop-up-promotion-content .img > div img,
.pop-up-promotion-wrapper.visible.hide-promo .pop-up-promotion-content .title {
  display: none;
}
.pop-up-promotion-wrapper .pop-up-promotion-content {
  background-color: #ed3c48;
  bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  padding: 8px;
  position: fixed;
  left: 20px;
  text-align: center;
  width: 410px;
  z-index: 994;
}
@media screen and (max-width: 800px) {
  .pop-up-promotion-wrapper .pop-up-promotion-content {
    bottom: inherit;
    left: 50%;
    right: inherit;
    top: 50%;
    -ms-transform: translate(-50%, calc(-55% + 20px));
    -webkit-transform: translate(-50%, calc(-55% + 20px));
    -moz-transform: translate(-50%, calc(-55% + 20px));
    -o-transform: translate(-50%, calc(-55% + 20px));
    transform: translate(-50%, calc(-55% + 20px));
  }
}
@media screen and (max-width: 475px) {
  .pop-up-promotion-wrapper .pop-up-promotion-content {
    width: 85%;
  }
}
.pop-up-promotion-wrapper .pop-up-promotion-content .close-popup {
  cursor: pointer;
  /* display:none; */
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 1;
}
.pop-up-promotion-wrapper .pop-up-promotion-content .img {
  width: 100%;
}
.pop-up-promotion-wrapper .pop-up-promotion-content .img > div {
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.pop-up-promotion-wrapper .pop-up-promotion-content .img > div img {
  border: 0;
  /* display:none; */
  margin-bottom: 8px;
  outline: 0;
  width: 100%;
}
.pop-up-promotion-wrapper .pop-up-promotion-content .title {
  background-color: #ffffff;
  color: #ed3c48;
  /* display:none; */
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 15px 5px;
  text-transform: uppercase;
}
body.promotion-page .pop-up-promotion-wrapper.visible {
  display: none;
}
/* INTRO */
.promotions-wrapper-intro-text {
  margin: 0 auto 50px;
  max-width: 1120px;
  padding: 0px 15px;
}
@media screen and (max-width: 600px) {
  .promotions-wrapper-intro-text {
    padding: 15px;
  }
}
.promotions-wrapper-intro-text .intro-text {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 26px;
  max-width: 100%;
}
/* PROMOTIONS LIST */
.promotions-list {
  margin: 0 auto 90px;
  max-width: 1120px;
  padding: 0 15px;
}
.promotions-list .promotions-list-items {
  margin-bottom: 40px;
}
.promotions-list .promotions-list-items h2 {
  color: #ed3c48;
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.promotions-list .promotions-list-items p {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 28px;
}
.promotions-list .promotions-list-items p a {
  color: #ed3c48;
  font-weight: 700;
  text-decoration: underline;
}
.promotions-list .promotions-list-items .promotions-items-wrapper-img {
  cursor: pointer;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.promotions-list .promotions-list-items .promotions-items-wrapper-img img {
  width: 100%;
}
.promotions-list .promotions-list-items .promotions-items-wrapper-img .hover-content {
  background-color: rgba(237, 60, 72, 0.85);
  height: 100%;
  left: 0;
  padding: 0 15px;
  position: absolute;
  top: 100%;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
}
.promotions-list .promotions-list-items .promotions-items-wrapper-img .hover-content .btn.btn-down-arrow-white {
  left: 50%;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.promotions-list .promotions-list-items .promotions-items-wrapper-img .hover-content .btn.btn-down-arrow-white:after,
.promotions-list .promotions-list-items .promotions-items-wrapper-img .hover-content .btn.btn-down-arrow-white:before {
  background-image: url('assets/images/down-arrow-btn-white-small.png');
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 30px;
  width: 14px;
}
.promotions-list .promotions-list-items .promotions-items-wrapper-img .hover-content .btn.btn-down-arrow-white:after {
  margin: 7px 15px 7px 25px;
}
.promotions-list .promotions-list-items .promotions-items-wrapper-img .hover-content .btn.btn-down-arrow-white:before {
  margin: 7px 25px 7px 15px;
}
.promotions-list .promotions-list-items .promotions-items-wrapper-img .hover-content .btn.btn-down-arrow-white span {
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  .promotions-list .promotions-list-items .promotions-items-wrapper-img .hover-content .btn.btn-down-arrow-white:after,
  .promotions-list .promotions-list-items .promotions-items-wrapper-img .hover-content .btn.btn-down-arrow-white:before {
    margin: 7px 10px;
  }
  .promotions-list .promotions-list-items .promotions-items-wrapper-img .hover-content .btn.btn-down-arrow-white span {
    font-size: 12px;
  }
}
.promotions-list .promotions-list-items .promotions-items-wrapper-img:hover .hover-content {
  top: 0;
}
/* Rate Page CSS */
.rate-wrapper {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 15px;
}
.rate-wrapper .dropdown-custom {
  margin-bottom: 50px;
}
.rate-wrapper .dropdown-custom > ul > li {
  padding: 5px;
}
.rate-wrapper .dropdown-custom > ul > li a {
  position: relative;
  -ms-transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  text-transform: uppercase;
  text-decoration: none;
}
.rate-wrapper .dropdown-custom > ul > li a:before {
  background: #fc414e;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  opacity: 1;
  position: absolute;
  right: 50%;
  -webkit-transition-property: left,right;
  transition-property: left,right;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: -1;
}
.rate-wrapper .dropdown-custom > ul > li a:hover:before {
  left: 0;
  right: 0;
  text-decoration: none;
}
.rate-wrapper .dropdown-custom > ul > li.active > a:before {
  left: 0;
  right: 0;
  text-decoration: none;
}
.rate-wrapper .dropdown-custom > ul > li > a:focus,
.rate-wrapper .dropdown-custom > ul > li > a:hover,
.rate-wrapper .dropdown-custom > ul > li.active > a:focus,
.rate-wrapper .dropdown-custom > ul > li.active > a:hover,
.rate-wrapper .dropdown-custom > ul > li.active > a {
  color: #fc414e;
}
.rate-wrapper .intro-text {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 26px;
  margin: 0 0px 20px;
}
@media screen and (max-width: 580px) {
  .rate-wrapper .intro-text {
    margin: 0 0px 30px;
  }
}
.rate-wrapper .og-fmenus,
.rate-wrapper .og-hmenus {
  left: 50%;
  position: relative;
  text-align: center;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.rate-wrapper .og-hmenus > li {
  padding: 0 5px;
}
.rate-wrapper .og-fmenus > li > a span {
  padding: 0 40px;
}
.rate-wrapper .og-fmenus > li > a.btn-bg-pink span {
  padding: 0px 2px;
}
.rate-wrapper .rate-list {
  list-style: none;
  margin-bottom: 50px;
  overflow: hidden;
  padding-left: 0;
}
.rate-wrapper .rate-list li {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: calc(50% - 27.5px);
}
.rate-wrapper .rate-list li .wrapper-item {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: relative;
}
.rate-wrapper .rate-list li:nth-child(odd) {
  clear: left;
  margin: 30px 25px 30px 0px;
}
.rate-wrapper .rate-list li:nth-child(odd) .wrapper-item {
  animation-delay: 50ms;
}
.rate-wrapper .rate-list li:nth-child(even) {
  margin: 30px 0px 30px 25px;
}
.rate-wrapper .rate-list li:nth-child(even) .wrapper-item {
  animation-delay: 150ms;
}
@media screen and (max-width: 768px) {
  .rate-wrapper .rate-list li {
    width: calc(50% - 17.5px);
  }
  .rate-wrapper .rate-list li:nth-child(odd) {
    margin: 15px 15px 15px 0;
  }
  .rate-wrapper .rate-list li:nth-child(even) {
    margin: 15px 0 15px 15px;
  }
}
@media screen and (max-width: 580px) {
  .rate-wrapper .rate-list li {
    margin: 15px 0px;
    width: 100%;
  }
  .rate-wrapper .rate-list li:nth-child(odd) {
    animation-delay: 100ms;
    margin: 15px 0;
  }
  .rate-wrapper .rate-list li:nth-child(even) {
    animation-delay: 200ms;
    margin: 15px 0;
  }
}
.rate-wrapper .rate-list li .rate-item-desc {
  background-color: #ffffff;
  color: #25258e;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 26px;
  padding: 10px 25px 25px;
}
.rate-wrapper .rate-list li .rate-item-img {
  background-color: #ffffff;
  padding-top: 60%;
  position: relative;
}
.rate-wrapper .rate-list li .rate-item-img div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.rate-wrapper .rate-list li .rate-item-title {
  background-color: #00b3f0;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 28px;
  padding: 10px 25px;
  text-transform: uppercase;
}
/* In The News */
#gridinthenews {
  text-align: center;
  /*width: 100%;max-width:1115px;
	@media screen and (max-width: 1150px){
		max-width: ~"calc(100vw - 15px)";
		width: ~"calc(100vw - 15px)";
	}

	li{
		width: ~"calc(33.333% - 4px)";
	}


	li a{
		text-decoration:none;
	}

	@media screen and (max-width: 992px){
		li{
			width: ~"calc(50% - 7.5px)";
		}
	}

	@media screen and (max-width: 520px){

		li{
			
			padding:7px 0px;
			width: ~"calc(100% - 15px)";

		}
	}*/
}
.news-wrapper {
  margin: 0 auto;
  max-width: 100%;
  padding: 0px 15px;
  /*#gridinthenews{
		padding-left:4px;
		@media screen and (max-width: 1150px){
			padding-left:0px;
		}

		li{
			cursor:pointer;
			&:hover{
				.desc{
					display:block;
				}
				.inthenews-item-wrapper-copy{
					padding: 17px 20px;
				}
				.item-img{
					padding:20px;
				}
				
			}


			&:hover .inthenews-item-wrapper-copy{
				bottom:80px;
			}

			.item-img{
				background-color:#2d2d2d;
				margin-bottom:30px;
				.transition (padding 0.5s);
			}

		}
	}*/
}
.news-wrapper .intro-text {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 26px;
  margin: 0 auto 35px;
  max-width: 1090px;
  width: 100%;
}
.news-wrapper .inthenews-item-wrapper-copy {
  background-color: #2d2d2d;
  bottom: 9px;
  color: #ffffff;
  padding: 27px 20px;
  position: absolute;
  text-align: right;
  -ms-transition: bottom 0.5s;
  -webkit-transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  transition: bottom 0.5s;
  width: calc(100% - 14px);
}
@media screen and (max-width: 520px) {
  .news-wrapper .inthenews-item-wrapper-copy {
    width: 100%;
  }
}
.news-wrapper .inthenews-item-wrapper-copy .inthenews-item-copy {
  display: inline-block;
  position: relative;
  width: 90%;
}
.news-wrapper .inthenews-item-wrapper-copy .desc {
  clear: both;
  display: none;
  float: right;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 18px;
  margin-top: 4px;
  max-width: 160px;
  text-decoration: underline;
}
.news-wrapper .inthenews-item-wrapper-copy .title {
  clear: both;
  float: right;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 22px;
  max-width: 210px;
  text-transform: uppercase;
}
/* Stories CSS */
body.stories > .body-wrap.content > .page-title-wrapper,
body.stories .stories-wrapper .dropdown.dropdown-custom,
body.stories .stories-detail-wrapper .dropdown.dropdown-custom {
  background-color: #25258e;
}
body.stories .dropdown-custom {
  margin-bottom: 0px;
  padding-bottom: 24px;
}
body.stories .dropdown-custom > ul > li {
  padding: 5px;
}
body.stories .dropdown-custom > ul > li a {
  margin: 0 25px;
  padding: 15px 0px 10px;
  position: relative;
  -ms-transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  text-transform: uppercase;
  text-decoration: none;
}
body.stories .dropdown-custom > ul > li a:before {
  background: #fc414e;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  opacity: 1;
  position: absolute;
  right: 50%;
  -webkit-transition-property: left,right;
  transition-property: left,right;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: -1;
}
body.stories .dropdown-custom > ul > li a:hover:before {
  left: 0;
  right: 0;
  text-decoration: none;
}
body.stories .dropdown-custom > ul > li.active > a:before {
  left: 0;
  right: 0;
  text-decoration: none;
}
body.stories .dropdown-custom > ul > li > a:focus,
body.stories .dropdown-custom > ul > li > a:hover,
body.stories .dropdown-custom > ul > li.active > a:focus,
body.stories .dropdown-custom > ul > li.active > a:hover,
body.stories .dropdown-custom > ul > li.active > a {
  color: #fc414e;
  margin: 0 25px;
  padding: 15px 0px 10px;
}
body.stories .page-title {
  margin-bottom: 27px;
}
/* Landing Page Stories */
.stories-wrapper .grid-stories {
  list-style: none;
  margin: 0 auto;
  padding-top: 50px;
}
.stories-wrapper .grid-stories li {
  margin-bottom: 50px;
  position: relative;
}
.stories-wrapper .grid-stories li .btn-down-arrow {
  bottom: 0;
  position: absolute;
}
.stories-wrapper .grid-stories li .btn-down-arrow span {
  color: #ed3c48;
}
@media screen and (max-width: 800px) {
  .stories-wrapper .grid-stories li .btn-down-arrow {
    position: relative;
  }
}
.stories-wrapper .grid-stories li h2 {
  color: #ed3c48;
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 28px;
  margin-top: 0;
}
.stories-wrapper .grid-stories li .short-desc {
  color: #333333;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 20px;
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
  .stories-wrapper .grid-stories li .short-desc {
    margin-bottom: 20px;
  }
}
.stories-wrapper .grid-stories li .stories-item-img {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  padding-top: 66.66%;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .stories-wrapper .grid-stories li .stories-item-img {
    margin-bottom: 20px;
  }
}
.stories-wrapper .grid-stories .row {
  display: table;
}
@media screen and (max-width: 800px) {
  .stories-wrapper .grid-stories .row {
    display: block;
  }
}
.stories-wrapper .grid-stories .row .wow {
  display: table;
  table-layout: fixed;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .stories-wrapper .grid-stories .row .wow {
    display: block;
  }
}
.stories-wrapper .grid-stories [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}
@media screen and (max-width: 800px) {
  .stories-wrapper .grid-stories [class*="col-"] {
    display: block;
  }
}
@media screen and (min-width: 801px) {
  .stories-wrapper .grid-stories .col-md-5 {
    width: 41.66666667%;
  }
  .stories-wrapper .grid-stories .col-md-7 {
    padding-bottom: 72px;
    width: 58.33333333%;
  }
  .stories-wrapper .grid-stories .no-image .col-md-5 {
    padding: 0;
    width: 0%;
  }
  .stories-wrapper .grid-stories .no-image .col-md-7 {
    padding-bottom: 72px;
    width: 100%;
  }
}
.stories-wrapper .grid-stories .stories-item-wrapper {
  position: relative;
}
/* STORIES DETAIL PAGE */
.stories-detail-wrapper > .container-fluid {
  padding-top: 20px;
}
.stories-detail-wrapper .dropdown-custom {
  margin-bottom: 50px;
}
.stories-detail-wrapper .navigation-page .btn-transparent.btn-pink {
  color: #ed3c48;
}
.stories-detail-wrapper .navigation-page .btn-transparent.btn-pink:hover,
.stories-detail-wrapper .navigation-page .btn-transparent.btn-pink:active,
.stories-detail-wrapper .navigation-page .btn-transparent.btn-pink:focus {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .stories-detail-wrapper .navigation-page .prev {
    float: left;
  }
  .stories-detail-wrapper .navigation-page .prev a {
    padding: 20px 30px;
  }
  .stories-detail-wrapper .navigation-page .prev span,
  .stories-detail-wrapper .navigation-page .prev .og-arrow.arrow-pink.arrow-left:nth-child(1) {
    display: none;
  }
  .stories-detail-wrapper .navigation-page .next {
    float: right;
  }
  .stories-detail-wrapper .navigation-page .next a {
    padding: 20px 30px;
  }
  .stories-detail-wrapper .navigation-page .next span,
  .stories-detail-wrapper .navigation-page .next .og-arrow.arrow-pink.arrow1 {
    display: none;
  }
}
.stories-detail-wrapper .stories-detail-hero .stories-detail-img {
  background-size: cover;
  height: 500px;
  padding-top: 0%;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .stories-detail-wrapper .stories-detail-hero .stories-detail-img {
    height: auto;
    padding-top: 42.66%;
  }
}
@media screen and (max-width: 480px) {
  .stories-detail-wrapper .stories-detail-hero .stories-detail-img {
    padding-top: 49.66%;
  }
}
.stories-detail-wrapper .stories-copy {
  margin-bottom: 50px;
}
.stories-detail-wrapper .stories-copy,
.stories-detail-wrapper .stories-copy p {
  letter-spacing: 0.3px;
  line-height: 28px;
  margin-bottom: 25px;
}
.stories-detail-wrapper .title {
  color: #ed3c48;
  letter-spacing: 0.3px;
  line-height: 50px;
  margin-bottom: 25px;
}
.stories-detail-wrapper .wrapper-share {
  margin-bottom: 50px;
}
.stories-detail-wrapper .wrapper-share p {
  color: #ff3d4a;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.at-resp-share-element .at-share-btn {
  border-radius: 100% !important;
}
#at-cv-lightbox,
.at-cv-lightbox-background {
  display: none !important;
}
.at-resp-share-element .at-share-btn:focus {
  color: #fff;
  text-decoration: none;
  -ms-transform: translateY(0px) !important;
  -webkit-transform: translateY(0px) !important;
  -moz-transform: translateY(0px) !important;
  -o-transform: translateY(0px) !important;
  transform: translateY(0px) !important;
}
/* Policies CSS */
.policies .body-wrap.content:before,
.accreditation .body-wrap.content:before {
  background-color: #25258e;
  content: "";
  display: block;
  height: 30px;
  width: 100%;
}
.policies .body-wrap.content > .text-center.page-title-wrapper:before,
.accreditation .body-wrap.content > .text-center.page-title-wrapper:before {
  background-color: #ed3c48;
  content: "";
  display: block;
  height: 5px;
  width: 100%;
}
.policies h1,
.accreditation h1 {
  color: #25258e;
}
.policies .container-fluid .panel-body,
.accreditation .container-fluid .panel-body {
  padding: 15px 0px;
}
.policies .container-fluid .panel-body a,
.accreditation .container-fluid .panel-body a {
  color: #3a3a3a;
  font-weight: bold;
}
.policies .container-fluid .panel-body h1,
.accreditation .container-fluid .panel-body h1,
.policies .container-fluid .panel-body .h1,
.accreditation .container-fluid .panel-body .h1,
.policies .container-fluid .panel-body h2,
.accreditation .container-fluid .panel-body h2,
.policies .container-fluid .panel-body .h2,
.accreditation .container-fluid .panel-body .h2,
.policies .container-fluid .panel-body h3,
.accreditation .container-fluid .panel-body h3,
.policies .container-fluid .panel-body .h3,
.accreditation .container-fluid .panel-body .h3,
.policies .container-fluid .panel-body h4,
.accreditation .container-fluid .panel-body h4,
.policies .container-fluid .panel-body .h4,
.accreditation .container-fluid .panel-body .h4,
.policies .container-fluid .panel-body h5,
.accreditation .container-fluid .panel-body h5,
.policies .container-fluid .panel-body .h5,
.accreditation .container-fluid .panel-body .h5,
.policies .container-fluid .panel-body h6,
.accreditation .container-fluid .panel-body h6,
.policies .container-fluid .panel-body .h6,
.accreditation .container-fluid .panel-body .h6 {
  color: #3a3a3a;
}
.policies .container-fluid .panel-body h5,
.accreditation .container-fluid .panel-body h5 {
  letter-spacing: 0.3px;
  line-height: 34px;
}
.policies .container-fluid .panel-body ol,
.accreditation .container-fluid .panel-body ol,
.policies .container-fluid .panel-body ul,
.accreditation .container-fluid .panel-body ul {
  padding-left: 15px;
}
.policies .container-fluid .panel-body p,
.accreditation .container-fluid .panel-body p {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 26px;
  margin-bottom: 35px;
}
.panel {
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel-default,
.panel-default > .panel-heading {
  border-color: transparent;
  background-color: transparent;
}
.panel-default > .panel-heading {
  border-bottom: 3px solid #25258e;
  padding: 15px 0 0 0;
}
.panel-heading {
  padding: 15px 0px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: 0px;
  padding-bottom: 30px;
}
.panel-title {
  color: #25258e;
  font-size: 30px;
  line-height: 40px;
}
.panel-title a {
  display: block;
  padding: 0 0 15px 0;
}
.panel-title a i {
  float: right;
  -ms-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.panel-title a.collapsed i {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.panel-title a:hover,
.panel-title a:focus {
  text-decoration: none;
}
/* Search Results CSS */
body.search-results {
  background-color: #ffffff;
}
body.search-results > .body-wrap.content > .page-title-wrapper {
  background-color: #25258e;
}
body.search-results .page-title {
  margin-bottom: 49px;
}
body.search-results .search-keyword-wrapper {
  color: #333333;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 36px;
  margin: 32px 0px;
}
body.search-results .search-keyword-wrapper > div {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  margin: 5px 0px;
}
body.search-results .search-keyword-wrapper span {
  color: #ed3c48;
}
body.search-results .search-results-list {
  list-style: none;
  margin-bottom: 40px;
  padding-left: 0;
}
body.search-results .search-results-list > li > a.title {
  color: #ed3c48;
  display: block;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 20px;
}
body.search-results .search-results-list > li .search-desc,
body.search-results .search-results-list > li .search-page-link {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 24px;
}
body.search-results .search-results-list > li .search-page-link a {
  color: #25258e;
  font-weight: bold;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #25258e;
  border-color: #25258e;
}
.pagination > li > a,
.pagination > li > span {
  color: #25258e;
}
