/* Footer CSS */
footer{
	
    padding-bottom: 50px;
    padding-top: 40px;

    @media only screen and (max-width:800px){
		padding-bottom: 90px;
	}

    .container-fluid{
    	position:relative;
    	
    }

	.footer-promotion-mobile{
		background-image:url('assets/images/promotion-minimize-mobile.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 60% auto;
		background-color: #ed3c48;
		border-radius: 50%;
		cursor:pointer;
		display: inline-block;
	    height: 65px;
	    width: 65px;
	    opacity:0;
	    position: fixed;
	    left: 20px;
	    bottom: 20px;
	    z-index: 994;
	    @media only screen and (max-width:800px){
			&.bounceInUp{
		    	opacity:1;
		    }
		}
	    
	}

	#scrolltop {
   		bottom: 60px;
	    right: 35px;
	    &.shown {
		    z-index: 994;
		}
		@media only screen and (max-width:800px){
			bottom: 100px;
			right: 30px;
		}
    }

	ul.footer-links{
		display:inline-block;
		list-style:none;
		padding-left:0px;
		vertical-align: middle;
		li{
			display:inline-block;
			
			&:after{
				background-color:@colorWhite;
				content:"";
				display:inline-block;
				height:13px;
				margin:0 12px;
				position: relative;
    			top: 2px;
				width:1px;
			}
			&:last-child:after{
				display:none;
			}
			
			a{
				color:@colorWhite;
				font-size:12px;
				font-weight:bold;
				text-transform:uppercase;
			}

			&.current_page_item a{
				color:#fb313e;
			}
		}

		@media screen and (max-width:768px){
			text-align:center;
		}
	}
	ul.footer-socmed{
		display:inline-block;
		list-style:none;
		padding-left:10px;
		vertical-align: middle;
		li{
			display:inline-block;
			margin:0 2px;
			a{
				border:0px;
				text-decoration:none;
				img{
					border:0px;
					outline:0;
				}
			}
		}
		@media screen and (max-width:768px){
			display:none;
		}
	}
}

body.stories, body.about, body.about__theme, body.white__theme, body.search-results{
	footer{
		ul.footer-links{
			display:inline-block;
			list-style:none;
			padding-left:0px;
			li{
				display:inline-block;
				&:after{
					background-color:#252525;
					content:"";
					display:inline-block;
					height:13px;
					margin:0 12px;
					position: relative;
	    			top: 2px;
					width:1px;
				}
				&:last-child:after{
					display:none;
				}
				a{
					color:#252525;
					font-size:12px;
					font-weight:bold;
					text-transform:uppercase;
				}
				&.current_page_item a{
					color:#fb313e;
				}
			}

			@media screen and (max-width:768px){
				text-align:center;
			}
		}
	}
}