/* Header CSS */
header{
	background-color:@colorWhite;
	.box-shadow(0 1px 2px rgba(0,0,0,.1));
	left:0;
	padding:13px 0px;
	position: fixed;
	right:0;
	top:0;
	width:100%;
	z-index:999;
	@media screen and (max-width:992px){
		padding:10px 0px;
	}

}

/* Logo */
.wrapper-logo{
	display:inline-block;
	vertical-align:middle;
	img{
		max-width:150px;
		width: 100%;
	}
}
@media screen and (max-width:1030px) and (min-width:993px){
	.col-md-2.wrapper-logo{
		width:13%;
	}
	.col-md-10.main-navigation{
		top:0;
		width:87%;
	}
}

/* Header Menu*/
.main-navigation{
	display:inline-block;
	padding-left: 0;
	position: relative;
    top: 8px;
    vertical-align:middle;

    @media screen and (max-width:992px){
		left: 0;
		padding-left: 0;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 100%;
	}


	.flag-lang{
		display: inline-block;
    	position: relative;
    	top: 4px;
    	vertical-align: middle;
		
		ul{
			list-style:none;
			margin-bottom: 0px;
			padding-left:0;
			li{
				display:inline-block;
				vertical-align:bottom;
			}
			.flag-lang-link{
				display: block;
				margin-left:10px;
				text-align:center;
				text-decoration:none;
				text-transform:uppercase;
				&:hover{
					text-decoration:none;
				}
				div{
					color:@colorBlue;
					font-size:10px;
					font-weight:bold;
				}
				img{
					/*border:1px solid #c4c4c4;*/
					outline:0;
					width:35px;
				}
				
			}
		}
		&.desktop{
			ul{
				display:block;
				@media screen and (max-width:992px){
					display:none;
				}
			}
		}
		&.mobile{
			display:none;
			padding: 12px 0px 10px;
			ul{
				padding: 0;
				text-align: center;
				.flag-lang-link{
					margin:0 5px;
				}
    		}
    		@media screen and (max-width:992px){
				display:block;
			}
		}
	}

	ul.header-socmed{
		display:none;
		list-style:none;
		margin-bottom:20px;
		padding-left:0px;
		text-align: center;
		li{
			display:inline-block;
			margin:0 2px;
			a{
				border:0px;
				text-decoration:none;
				img{
					border:0px;
					outline:0;
				}
			}
		}
		@media screen and (max-width:992px){
			display:block;
		}
	}
	.menu-mobile-btn{
		cursor:pointer;
		display:none;
		@media screen and (max-width:992px){
			display:inline-block;
			position: relative;
		    right: -18px;
		    top: 2px;
		    width:35px;
    	}
		.btn.btn-navbar{
			border:0px;
			.box-shadow(none);
			min-width:inherit;
			padding:0;

			span.icon-bar  {
			    margin-top: -2px;
			    position: absolute;
			    right: 0px;
			    top: 50%;
			    .transition (background .3s .3s);
			}

			span.icon-bar::before, span.icon-bar::after {
			    -webkit-backface-visibility: hidden;
			    backface-visibility: hidden;
			    content: '';
			    right: 0;
			    .transform (translateZ(0));
			   -webkit-transform-origin: 0% 50%;
			    -moz-transform-origin: 0% 50%;
			    -ms-transform-origin: 0% 50%;
			    -o-transform-origin: 0% 50%;
			    transform-origin: 0% 50%;
                -webkit-transition: -webkit-transform .3s .3s;
			    -moz-transition: -moz-transform .3s .3s;
			    transition: transform .3s .3s;
			}

			span.icon-bar::before{
				top:-9px;
			}
			span.icon-bar::after{
				top:9px;
			}

			span.icon-bar, span.icon-bar:before, span.icon-bar:after {
			    background: @colorBlue;
			    border-radius: 5px;
			    display: block;
			    height: 5px;
			    position: absolute;
			    width: 35px;
			}

			&.nav-is-visible {
				span.icon-bar {
				    background: transparent;
				    &:before{
				    	.transform (translateX(4px) translateY(-3px) rotate(45deg));
				    }
				    &:after{
				    	.transform (translateX(4px) translateY(3px) rotate(-45deg));
				    }
				}

			}
		}
		

	}

	.main-navigation-wrapper-nav{
		@media screen and (max-width:992px){
			background-color: white;
			.box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
			display: none;
			left:0;
			position: absolute;
			right:0;
			top: 69px;
		}
	}

	.nav{
		display: inline-block;
    	vertical-align: middle;
		width: auto;
		@media screen and (max-width:992px){
			display: block;
			left: 0;
			padding-bottom: 15px;
			right: 0;
		    top: 0;
		    width: 100%;
		}

		&> li{
			display:inline-block;
			vertical-align:middle;

			@media screen and (max-width:992px){
				width: 100%;
			}

			&.current_page_item>a:before{
				left: 0;
				right: 0;
				text-decoration: none;
			}

			&>a {
			    padding: 12px;
			}
			a{
				color:@colorBlue;
				font-size:12px;
				font-weight:bold;
				letter-spacing: 0.5px;
				margin: 0 15px 0 0;
			    overflow: hidden;
			    padding:10px 0px;
			    position: relative;
			    .transform (perspective(1px) translateZ(0));
			    text-transform:uppercase;
				text-decoration:none;

			    @media screen and (max-width:1080px){
					margin: 0 10px 0 0;
				}

				@media screen and (max-width:992px){
					font-size:14px;
					margin: 0;
					padding: 6px 0;
					text-align:center;
					width: 100%;
				}

			    &:before {
				    background: @colorBlue;
				    bottom: 0;
				    content: "";
				    height: 3px;
				    left: 50%;
				    right: 50%;
				    -webkit-transition-property: left,right;
				    transition-property: left,right;
				    -webkit-transition-duration: .3s;
				    transition-duration: .3s;
				    -webkit-transition-timing-function: ease-out;
				    transition-timing-function: ease-out;
					position: absolute;
				    z-index: -1;

				    @media screen and (max-width:992px){
				    	display:none;
				    }
				}
				&:hover, &:active, &:focus{
					background-color: transparent;
					outline:0;
				}
				&:hover:before{
					left: 0;
				    right: 0;
				    text-decoration: none;
				}
			   
			}
		}
		ul.nav-submenu{
			display:none;
			list-style: none;
		    padding: 0 5px 5px;
		    text-align: center;
		    
			@media screen and (max-width:992px){
				display:block;
			}

			li{
				margin-bottom:3px;
				a{
					color:@colorPink;
					margin: 0;
				}
			}
		}

		
	}
	.pull-right{
		@media screen and (max-width:992px){
			position: relative;
		    right:15px;
		    top: 20px;
		}
	}
	.wrapper-nav-content-mobile{
		@media screen and (max-width:992px){
			max-height:~"calc(100vh - 68px)";
			overflow-y: scroll;
		    -ms-overflow-style: none;
		    overflow: -moz-scrollbars-none;
		    position: relative;
	    }
	}


}



/* Search */
.search-button{
	cursor:pointer;
	display: inline-block;
    vertical-align: middle;
	.fa.fa-search{
		color:@colorBlue;
		font-size:23px;
	}
	&.mobile{
		display:none;
		margin: 0 2px;
		.fa.fa-search{
			font-size: 26px;
		    position: relative;
		    top: 1px;
		}
	}
	@media screen and (max-width:992px){
		&.desktop{display:none;}
		&.mobile{display:inline-block;}
	}
}
.search-bar-wrapper{
	background: #f6f6f6;
	.box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
	display:none;
	left: 0;
	padding:20px 0px;
    position: absolute;
    right: 0;
    top: 76px;
    @media screen and (max-width:992px){
		top:69px;
	}

    .form-search{
    	position:relative;
    	&.focus{
    		label {
    			left: 13px;
			    font-size: 11px;
			    color: #000;
			    padding: 0 5px;
				top:5px;
			}
    	}

    }

	label {
	    background: transparent;
	    color: #8f8f8f;
	    display: block;
	    font-size: 15px;
	    font-weight: 300;
	    left: 18px;
	    margin: 0;
	    position: absolute;
	    transition : top 0.2s ease,font-size 0.2s ease,color 0.2s ease;
	    top: 17px;
	    z-index: 1;
	}

	input{
		border:0px;
		border-radius:0px;
	}

	.form-control{
		background-color:@colorWhite;
		.box-shadow (none);
		border-color: transparent;
		color:#555555;
		height:auto;
		padding:22px 18px 10px;
		&:focus {
		    border-color: transparent;
		    .box-shadow (none);
		    outline: 0;
		}
	}
	

}