/* Home CSS */

/** HOME HERO **/
.home-hero {
	background-image: url(assets/images/icons.gif);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	text-align:center;
	vertical-align: middle;
	white-space: nowrap;
	padding-bottom: 0;
	overflow: hidden;
	min-height: ~"calc(100vh - 50px)";

	&:before{
		content: "";
		display: inline-block;
		height: ~"calc(100vh - 50px)";
		vertical-align: middle;
	}

	.gif{
		margin-left: -2px;
		display: inline-block;
		vertical-align: middle;
		white-space: normal;
		width: 100%;
	}

	h2{
		font-size:30px;
		line-height:34px;
		margin-bottom:65px;
		padding:0 10px;
		text-transform:uppercase;

		@media screen and (max-width:768px){
			font-size:25px;
			line-height:29px;
		}

		@media screen and (max-width:568px){
			font-size:20px;
			line-height:29px;
		}
	}
}

.gif img {
	width:100%;
	margin-bottom: 30px;
}

/** HOME IMAGES FEATURE **/
.home-images{
	text-align:center;
	
	.home-images-content{
		max-width:90%;
		margin:0 auto;
		overflow: hidden;
		position:relative;

		@media screen and (max-width:768px){
			max-width:100%;
		}
	}
	.home-images-content-copy{
		position:absolute;
		z-index: 2;
		@media screen and (max-width:768px){
			margin:0 20px;
		}
		h2{
			font-size:40px;
			font-weight:bold;
			line-height:43px;
			text-transform:uppercase;

			@media screen and (max-width:768px){
				font-size:30px;
				line-height:34px;
			}

			@media screen and (max-width:600px){
				font-size:25px;
				line-height:29px;
			}

			@media screen and (max-width:480px){
				font-size:20px;
				line-height:24px;
			}
		}
		span{
			color:@colorWhite;
			display:block;
			font-size:18px;
			font-weight:normal;
			line-height:21px;
			text-transform:uppercase;
			@media screen and (max-width:480px){
				font-size:16px;
				line-height:20px;
			}
		}
	}
	.home-images-content-img{
		border:0;
		height:auto;
		image-rendering: -moz-crisp-edges;         /* Firefox */
		image-rendering:   -o-crisp-edges;         /* Opera */
		image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
		image-rendering: crisp-edges;
		-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
		margin:0 auto;
		max-height: inherit;
		outline:0;
		position:relative;
		width:100%;

		@media screen and (max-width:768px){
			max-width: 110vw;
			width:inherit;
		}
	}

	.home-images-link{
		color:@colorWhite;
		text-decoration:none;
		&:hover, &:active, &:visited, &:focus{
			color:@colorWhite;
			text-decoration:none;
		}
	}

	.home-images-one{
		margin-bottom:130px;
		@media screen and (max-width:600px){
			margin-bottom:50px;
		}
		.home-images-content{
			.home-images-content-copy{
				margin: 50px 0 30px 19%;
				position: relative;
			    text-align: right;
			    max-width: 580px;
			    @media screen and (max-width:768px){
					max-width: 100%;
					margin: 50px 15px 30px;
					text-align: left;

					h2{
						font-size:30px;
						line-height:34px;
					}
				}

				@media screen and (max-width:600px){
					margin: 50px 15px 30px;
					h2{
						font-size:25px;
						line-height:29px;
					}
				}

				@media screen and (max-width:480px){
					margin: 50px 15px 30px;
					h2{
						font-size:20px;
						line-height:24px;
					}
				}
			}
			.home-images-content-img{
				max-width:1324px;
				@media screen and (max-width:768px){
					max-width: 95vw;
					width:inherit;
				}
			}
		}
	}
	.home-images-two{
		margin-bottom:80px;
		@media screen and (max-width:768px){
			margin-bottom:30px;
		}
		.home-images-content{
			.home-images-content-copy{
				margin: 0px 0 80px 0;
				max-width: 700px;
			    position: absolute;
			    right: 20%;
			    text-align: left;
			    @media screen and (max-width:768px){
			    	margin: 0px 15px;
					max-width: 100%;
				    position: relative;
				    right: 0;
				    text-align: right;
				}
			}
			.home-images-content-img{
				max-width:1225px;
				padding-top:20px;

				@media screen and (max-width:768px){
					max-width: 105vw;
					padding-top:0px;
					width:inherit;
				}
			}
		}
	}
	.home-images-three{
		margin-bottom:130px;
		@media screen and (max-width:600px){
			margin-bottom:50px;
		}
		.home-images-content{
			.home-images-content-copy{
				margin: 50px 0 80px 20%;
			    max-width: 640px;
			    position: absolute;
			    text-align: right;

			    @media screen and (max-width:768px){
			    	margin: 0px 15px;
					max-width: 100%;
				    position: relative;
				    right: 0;
				    text-align: left;
				}
			}
			.home-images-content-img{
				max-width:1398px;
				padding-top:50px;
				@media screen and (max-width:768px){
					max-width: 96vw;
					padding-top:0px;
					width:inherit;
				}
			}
		}
	}
	.home-images-four{
		margin-bottom:80px;
		.home-images-content{
			.home-images-content-copy{
				margin: 0px 0 80px 0;
				max-width: 510px;
			    position: absolute;
			    left: 56%;
			    text-align: left;
			    @media screen and (max-width:1024px){
			        left: 45%;
			    }
			    @media screen and (max-width:768px){
					margin: 0 15px;
				    max-width: 100%;
				    left: auto;
				    right: 0;
				    text-align: right;
				}
			}
			.home-images-content-img{
				max-width:1585px;
				padding-top:50px;
				@media screen and (max-width:768px){
					left: -20%;
					max-width: 167vw;
					padding-top:80px;
					width:inherit;
				}
			}
		}
	}

}