/* In The News */
#gridinthenews{
	
	text-align: center;
	/*width: 100%;max-width:1115px;
	@media screen and (max-width: 1150px){
		max-width: ~"calc(100vw - 15px)";
		width: ~"calc(100vw - 15px)";
	}

	li{
		width: ~"calc(33.333% - 4px)";
	}


	li a{
		text-decoration:none;
	}

	@media screen and (max-width: 992px){
		li{
			width: ~"calc(50% - 7.5px)";
		}
	}

	@media screen and (max-width: 520px){

		li{
			
			padding:7px 0px;
			width: ~"calc(100% - 15px)";

		}
	}*/
}
.news-wrapper{
	margin:0 auto;
	max-width:100%;
	padding:0px 15px;

	.intro-text{
		color:@colorWhite;
		font-size:16px;
		letter-spacing:0.3px;
		line-height:26px;
		margin:0 auto 35px;
		max-width: 1090px;
		width: 100%;
    }

	/*#gridinthenews{
		padding-left:4px;
		@media screen and (max-width: 1150px){
			padding-left:0px;
		}

		li{
			cursor:pointer;
			&:hover{
				.desc{
					display:block;
				}
				.inthenews-item-wrapper-copy{
					padding: 17px 20px;
				}
				.item-img{
					padding:20px;
				}
				
			}


			&:hover .inthenews-item-wrapper-copy{
				bottom:80px;
			}

			.item-img{
				background-color:#2d2d2d;
				margin-bottom:30px;
				.transition (padding 0.5s);
			}

		}
	}*/

	.inthenews-item-wrapper-copy{
		background-color:#2d2d2d;
		bottom:9px;
		color:@colorWhite;
		padding: 27px 20px;
		position: absolute;
    	text-align:right;
    	.transition (bottom 0.5s);
		width: ~"calc(100% - 14px)";

		@media screen and (max-width: 520px){
			width:100%;
		}

		.inthenews-item-copy{
			display:inline-block;
			position:relative;
			width:90%;
		}
		.desc{
			clear:both;
			display:none;
			float:right;
			font-size:14px;
			font-weight:normal;
			letter-spacing:0.3px;
			line-height:18px;
			margin-top:4px;
			max-width:160px;
			text-decoration:underline;
		}
		.title{
			clear:both;
			float:right;
			font-size:18px;
			font-weight:bold;
			letter-spacing:0.3px;
			line-height:22px;
			max-width:210px;
			text-transform:uppercase;
		}
	}

}


