/* General CSS */

body{
	background-color:@colorBlue;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	font-weight: normal;
    font-style: normal;

    &.stories, &.white__theme{
		background-color:@colorWhite;
	}
}


.body-wrap.content{
    margin-bottom: 150px;
	margin-top:77px;
	min-height: ~"calc(100vh - 250px)";
	@media screen and (max-width:992px){
		margin-top:56px;
	}
	@media screen and (max-width:800px){
		margin-bottom: 50px;
	}
}
.container-fluid{
	margin:0 auto;
	max-width:1120px;
}

/** BUTTONS **/
button, .button, .btn{
	border:4px @colorPink solid;
	border-radius:0px;
	color:@colorWhite;
	font-size:16px;
	font-weight:500;
	outline:0;
	text-transform:uppercase;
	
	&:hover,&:focus{
		color:@colorWhite;
	}
	&:active{
		.box-shadow (none);
	}

	.arrow-left.og-arrow::after, .arrow-left.og-arrow::before{
		border-width:0 0 2px 2px;
		left:2px;
		right:inherit;
	}
	.arrow-left.og-arrow::after{
		left:10px;
		right:inherit;
	}

	&.btn-bg-pink{
		background-color:@colorPink;
		color:@colorWhite;
		&:hover, &:active, &:focus{
			background-color:@colorWhite;
			border-color:@colorWhite;
			color:@colorPink;
		}
	}

	&.btn-down-arrow{
		min-width:inherit;
		padding: 20px 5px;
		/*min-height: 72px;*/
		min-width: 250px;
		background: transparent;
		&:after, &:before, span{
			display:inline-block;
			vertical-align:middle;
		}
		&:after, &:before{
			background-image:url('assets/images/down-arrow-btn.png');
			background-repeat:no-repeat;
			content:"";
			display:none;
			height:44px;
			width:21px;
		} 
		&:after{
			margin:7px 25px 7px 20px;
		}
		&:before{
			margin:7px 20px 7px 25px;
		}
		.og-arrow {
		    height: 3px;
    		width: 40px;
    		transform: rotate(90deg);
    		margin: 0 10px;
    		&:after, &:before {
    			width: 15px;
			    height: 15px;
			    border-width: 3px 3px 0 0;
    		}
    		&:before {
				right: 12px;
			}
    	}
		
	}

	&.btn-down-arrow-white{
		border:4px @colorWhite solid;
		min-width:inherit;
		padding: 3px 0;
		&:after, &:before, span{
			display:inline-block;
			vertical-align:middle;
		}
		&:after, &:before{
			background-image:url('assets/images/down-arrow-btn-white.png');
			background-repeat:no-repeat;
			content:"";
			display:inline-block;
			height:44px;
			width:21px;
		} 
		&:after{
			margin:7px 25px 7px 20px;
		}
		&:before{
			margin:7px 20px 7px 25px;
		}
		
	}

}

/** 404 **/
body.page-notfound{
	background-image:url('assets/images/bg-404.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 50% bottom;
	h2{
		letter-spacing:3px;
		margin-bottom: 300px;
		text-align:center;
		text-transform:uppercase;
	}
	.img-car-mobile{
		display:none;
		@media only screen and (max-width:768px){
			background-image:url('assets/images/bg-404-mobile.png');
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center bottom;
			display:block;
		}
	}

	@media only screen and (max-width:768px){
		background-image:none;
		h2{
			font-size:32px;
			margin-bottom: 10px;
		}
		.img-car-mobile{
			background-image:url('assets/images/bg-404-mobile.png');
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center top;
			display:block;
			height: 410px;
			width: 100%;
    
		}
	}

	@media only screen and (max-width:480px){
		.img-car-mobile{
			height: 250px;
		}
	}

}


/** FORM **/
textarea{
	resize: none;
}
textarea::-webkit-resizer {
  display: none;
}


/** TYPOGRAPHY **/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	color:@colorWhite;
	font-weight:700;
}
h1, .h1{
	font-size:36px;
	line-height:40px;
	text-transform:uppercase;
}
h2, .h2{
	font-size:44px;
	line-height:48px;
}
h3, .h3{
	font-size:40px;
	line-height:44px;
}
h4, .h4{
	font-size:30px;
	line-height:34px;
}
h5, .h5{
	font-size:24px;
	line-height:28px;
}
h6, .h6, p{
	font-size:18px;
	line-height:24px;
	&.pink{
		color:@colorPink;
	}
}

.fa-angle-up:before {
    content: "\f107";
}


.skip-access {
    height: 0px;
    overflow: hidden;
    position: absolute;
    width: 0px;
}

/* OVERWRITE SAM CSS */
/*.button_1O{
	@media only screen and (max-width:767px){
		display:none !important;
	}
}*/



.creative .container{
	max-width: 1135px;
    width: 100%;
}
.dropdown-custom>ul>li>a {
	letter-spacing:0.3px;
    text-transform:uppercase;
}


.page-title{
	letter-spacing:0.3px;
	margin-top:50px;
	max-width:80%;
	padding:8px 30px;
}

/* OVERWRITE SAM CSS - Platform Inside Page */

.platform-inside-wrapper .intro-text p {
    color:@colorWhite;
}

.platform-inside-wrapper{
	@media screen and (max-width:915px) and (min-width:481px){
		.nav.navbar-nav.og-fmenus{
			max-width:90%;
		}
		.og-fmenus>li{
			margin-bottom: 7px;
			width:48%;
		}

		.og-fmenus .og-arrow:first-child, .og-fmenus .og-arrow:last-child {
		    position: absolute;
		    top: 50%;
		    left: 15px;
		    margin-top: -1px;
		}

		.og-fmenus .og-arrow:last-child {
		    left: auto;
		    right: 15px;
		}
	}

	@media screen and (max-width:600px){
		.nav.navbar-nav.og-fmenus{
			max-width:100%;
		}
	}

	@media screen and (max-width:515px){
		.og-fmenus>li{
			margin-bottom: 2px;
			width:100%;
		}
	}

}


/* OVERWRITE SAM CSS - About us Page */
.about__theme{
	.dropdown-custom>.dropdown-toggle, 
	.dropdown-custom>.dropdown-toggle:focus, 
	.dropdown-custom>.dropdown-toggle:hover {
	    color: @colorBlue;
	}
	.dropdown-custom>.dropdown-toggle::after{
		border-color:@colorBlue;
	}
}
.about-wrapper .clients-list figure{
	padding:3px;
}


/* OVERWRITE SAM CSS - Contact us Page */
.contact__theme {

	@media screen and (max-width:800px){
		background-image: none;
		.form-wrapper p{
			font-size:14px;
		}
	}
}


/* OVERWRITE SAM CSS - Creative Page */
@media screen and (max-width: 992px){
	.creative-wrapper .modal {
		padding-bottom: 30px;
    	top: 69px;
	    z-index:995;
	}
	.modal-backdrop{
		z-index:994;
	}
}
