/* Promotions CSS */

/* PROMOTION POP UP */
.pop-up-promotion-wrapper{
	display:none;
	&.visible{
		display:block;
		
		.pop-up-promotion-overlay{
			background-color: rgba(0,0,0,.5);
		    bottom: 0;
		    display:none;
		    left: 0;
		    position: fixed;
		    right: 0;
		    top: 0;
		    z-index: 993;
		}
		
    	
    	@media screen and (max-width:800px){
    		.pop-up-promotion-overlay{
				display:block;
    		}
		}

		&.hide-promo{
			.pop-up-promotion-content .close-popup,
			.pop-up-promotion-content .img > div img,
			.pop-up-promotion-content .title{
				display:none;
			}
		}

    }
	.pop-up-promotion-content{
		background-color:@colorPink;
		bottom: 0px;
		border-radius:5px 5px 0px 0px;
		padding:8px;
		position: fixed;
	    left: 20px;
	    text-align:center;
	    width:410px;
	    z-index:994;

	    @media screen and (max-width:800px){
	    	bottom: inherit;
	    	left:50%;
	    	right:inherit;
			top:50%;
	    	.transform (translate(-50%, ~"calc(-55% + 20px)" ));
	    	
		}
		
		@media screen and (max-width:475px){
			width:85%;
		}

	    .close-popup{
	    	cursor:pointer;
	    	/* display:none; */
	    	position:absolute;
	    	right:-15px;
	    	top:-15px;
	    	z-index:1;
	    }

	    .img {
	    	
	    	width:100%;
	    	&>div{
		    	color:@colorWhite;
		    	cursor:pointer;
		    	font-size:20px;
		    	font-weight:bold;
		    	text-decoration:none;
		    	text-transform:uppercase;
		    	img{
		    		border:0;
		    		/* display:none; */
		    		margin-bottom:8px;
		    		outline:0;
		    		width:100%;
		    	}
		    }

	    }
		   
	    .title{
	        background-color:@colorWhite;
	    	color:@colorPink;
	    	/* display:none; */
	    	font-size:20px;
	    	font-weight:bold;
	    	margin-bottom:8px;
	    	padding:15px 5px;
	    	text-transform:uppercase;
	    }

	}
}

body.promotion-page{
	.pop-up-promotion-wrapper.visible{
		display:none;
	}
}

    

/* INTRO */
.promotions-wrapper-intro-text{
	margin: 0 auto 50px;
    max-width: 1120px;
	padding:0px 15px;

	@media screen and (max-width:600px){
		padding:15px;
	}

	.intro-text{
		color:@colorWhite;
		font-size:16px;
		letter-spacing:0.3px;
		line-height:26px;
		max-width:100%;
	}


}

/* PROMOTIONS LIST */
.promotions-list{
	margin:0 auto 90px;
	max-width:1120px;
	padding:0 15px;
	.promotions-list-items{
		margin-bottom:40px;
		h2{
			color:@colorPink;
			font-size:24px;
			letter-spacing:0.3px;
			line-height:50px;
			margin-bottom:10px;
			text-transform:uppercase;
		}
		
		p{
			color:@colorWhite;
			font-size:18px;
			letter-spacing:0.3px;
			line-height:28px;

			a{
				color:@colorPink;
				font-weight:700;
				text-decoration:underline;
			}
		}
		.promotions-items-wrapper-img{
			cursor:pointer;
			margin-bottom:15px;
			overflow:hidden;
			position:relative;
			
			img{
				width:100%;
			}
			.hover-content{
				background-color:rgba(237, 60, 72, 0.85);
				height:100%;
				left:0;
				padding:0 15px;
				position:absolute;
				top:100%;
			    .transition (all 0.4s ease);
				width:100%;

				.btn.btn-down-arrow-white{
					left:50%;
					position:absolute;
					top:50%;
					.transform (translate(-50%, -50%));

					&:after, &:before{
						background-image:url('assets/images/down-arrow-btn-white-small.png');
						background-repeat:no-repeat;
						content:"";
						display:inline-block;
						height:30px;
						width:14px;
					}
					&:after{
						margin:7px 15px 7px 25px;
					}
					&:before{
						margin:7px 25px 7px 15px;
					}
					span{
						font-size:18px;
						font-weight:700;
					}

					@media screen and (max-width:500px){
						&:after, &:before{
							margin:7px 10px;
						}
						
						span{
							font-size:12px;
						}
					}

				}

			}

			&:hover .hover-content{
				top:0;
			}

		}
	}
}