/* Rate Page CSS */



.rate-wrapper{
	margin:0 auto;
	max-width:1120px;
	padding:0 15px;

	.dropdown-custom{
		margin-bottom:50px;
		&>ul>li{
			padding:5px;
			a{
				position: relative;
				.transform (perspective(1px) translateZ(0));
			    text-transform:uppercase;
				text-decoration:none;

				&:before {
				    background: #fc414e;
				    bottom: 0;
				    content: "";
				    height: 3px;
				    left: 50%;
				    opacity:1;
				    position: absolute;
				    right: 50%;
				    -webkit-transition-property: left,right;
				    transition-property: left,right;
				    -webkit-transition-duration: .3s;
				    transition-duration: .3s;
				    -webkit-transition-timing-function: ease-out;
				    transition-timing-function: ease-out;
					z-index: -1;
				}

				&:hover:before{
					left: 0;
				    right: 0;
				    text-decoration: none;
				}
			}
			&.active>a:before{
				left: 0;
			    right: 0;
			    text-decoration: none;
			}
			&>a:focus, &>a:hover, &.active>a:focus, &.active>a:hover, &.active>a{
				color: #fc414e;
			}
		}
	}


	.intro-text{
		color:@colorWhite;
		font-size:16px;
		letter-spacing:0.3px;
		line-height:26px;
		margin:0 0px 20px;
		@media screen and (max-width:580px){
			margin:0 0px 30px;
		}
	}

	.og-fmenus, .og-hmenus{
		left:50%;
		position:relative;
		text-align: center;
		.transform (translateX(-50%));
	}
	
	.og-hmenus>li {
	    padding: 0 5px;
	}
	.og-fmenus>li>a span{
		padding: 0 40px;
	}
	.og-fmenus>li>a.btn-bg-pink span{
		padding: 0px 2px;
	}

	

	.rate-list{
		list-style:none;
		margin-bottom:50px;
		overflow:hidden;
		padding-left:0;
		li{
			display:inline-block;
			overflow:hidden;
			position:relative;
			vertical-align: top;
			width:~"calc(50% - 27.5px)";

			.wrapper-item{
				background-color:@colorWhite;
				height:100%;
				width:100%;
				position:relative;
			}

			&:nth-child(odd){
				clear:left;
				margin:30px 25px 30px 0px;
				.wrapper-item{
					animation-delay: 50ms;
				}
			}

			&:nth-child(even){
				margin:30px 0px 30px 25px;
				.wrapper-item{
					animation-delay: 150ms;
				}
			}

			@media screen and (max-width:768px){
				width:~"calc(50% - 17.5px)";

				&:nth-child(odd){
					margin:15px 15px 15px 0;
				}

				&:nth-child(even){
					margin:15px 0 15px 15px;
				}
			}

			@media screen and (max-width:580px){
				margin:15px 0px;
				width:100%;
				&:nth-child(odd){
					animation-delay: 100ms;
					margin:15px 0;
				}

				&:nth-child(even){
					animation-delay: 200ms;
					margin:15px 0;
				}
			}

			.rate-item-desc{
				background-color:@colorWhite;
				color:@colorBlue;
				font-size:16px;
				letter-spacing:0.3px;
				line-height:26px;
				padding:10px 25px 25px;
			}

			.rate-item-img{
				background-color:@colorWhite;
				padding-top: 60%;
				position:relative;
				div{
					background-position:center center;
					background-repeat:no-repeat;
					background-size:cover;
					bottom:0;
					left:0;
					position:absolute;
					right:0;
					top:0;
				}
			}

			.rate-item-title{
				background-color:@colorSecondLightBlue;
				color:@colorWhite;
				font-size:18px;
				font-weight:bold;
				letter-spacing:0.3px;
				line-height:28px;
				padding:10px 25px;
				text-transform:uppercase;
			}

		}
	}

}
