/* Search Results CSS */

body.search-results{
	background-color:@colorWhite;
	&>.body-wrap.content > .page-title-wrapper{
		background-color:@colorBlue;
	}

	.page-title{
		margin-bottom:49px;
	}

	.search-keyword-wrapper{
		color:@colorGrey;
		font-size:26px;
		font-weight:bold;
		letter-spacing:0.3px;
		line-height:36px;
		margin: 32px 0px;
		&>div{
			font-size:16px;
			font-weight:normal;
			line-height:26px;
			margin:5px 0px;
		}
		span{
			color:@colorPink;
		}
	}

	.search-results-list{
		list-style:none;
		margin-bottom: 40px;
		padding-left:0;

		&>li{
			&> a.title{
				color:@colorPink;
				display:block;
				font-size:24px;
				font-weight:bold;
				letter-spacing:0.3px;
				line-height: 28px;
    			margin-bottom: 0;
    			margin-top: 20px;
			}
			.search-desc, .search-page-link{
				font-size:14px;
				font-weight:normal;
				letter-spacing:0.3px;
				line-height:24px;
			}

			.search-page-link a{
				color:@colorBlue;
				font-weight:bold;
			}
		}
			
	}


}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color:@colorBlue;
    border-color:@colorBlue;
}
.pagination>li>a, .pagination>li>span{
	color:@colorBlue;
}