/* Stories CSS */

body.stories{
	&>.body-wrap.content > .page-title-wrapper, .stories-wrapper .dropdown.dropdown-custom, .stories-detail-wrapper .dropdown.dropdown-custom{
		background-color:@colorBlue;
	}

	.dropdown-custom{
		margin-bottom:0px;
		padding-bottom:24px;
		&>ul>li{

			padding:5px;
			a{
				margin:0 25px;
				padding: 15px 0px 10px;
				position: relative;
				.transform (perspective(1px) translateZ(0));
			    text-transform:uppercase;
				text-decoration:none;

				&:before {
				    background: #fc414e;
				    bottom: 0;
				    content: "";
				    height: 3px;
				    left: 50%;
				    opacity:1;
				    position: absolute;
				    right: 50%;
				    -webkit-transition-property: left,right;
				    transition-property: left,right;
				    -webkit-transition-duration: .3s;
				    transition-duration: .3s;
				    -webkit-transition-timing-function: ease-out;
				    transition-timing-function: ease-out;
					z-index: -1;
				}

				&:hover:before{
					left: 0;
				    right: 0;
				    text-decoration: none;
				}
			}
			&.active>a:before{
				left: 0;
			    right: 0;
			    text-decoration: none;
			}
			&>a:focus, &>a:hover, &.active>a:focus, &.active>a:hover, &.active>a{
				color: #fc414e;
				margin:0 25px;
				padding: 15px 0px 10px;
			}
		}
	}

	.page-title{
		margin-bottom:27px;
	}


}


/* Landing Page Stories */
.stories-wrapper{
	.grid-stories{
		list-style:none;
		margin:0 auto;
		padding-top: 50px;

		li{
			margin-bottom:50px;
			position:relative;

			.btn-down-arrow{
				bottom:0;
				position:absolute;
				span{
					color:@colorPink;
				}

				@media screen and (max-width:800px){
			    	position:relative;
			    }
			}
				
			h2{
				color:@colorPink;
				font-size:24px;
				letter-spacing:0.3px;
				line-height:28px;
				margin-top:0;
			}
			.short-desc{
				color:@colorGrey;
				font-size:14px;
				letter-spacing:0.3px;
				line-height:20px;
				margin-bottom: 50px;
				@media screen and (max-width:800px){
			    	margin-bottom: 20px;
			    }
			}
			.stories-item-img{
				background-repeat:no-repeat;
				background-size:cover;
				margin-bottom:0px;
				padding-top: 66.66%;
				width:100%;
				@media screen and (max-width:800px){
			    	margin-bottom: 20px;
			    }
			}
		}

		.row {
		    display: table;
		    @media screen and (max-width:800px){
		    	display:block;
		    }

		}
		.row .wow{
			display:table;
			table-layout: fixed;
			width:100%;
			@media screen and (max-width:800px){
		    	display:block;
		    }
		}
		[class*="col-"] {
		    float: none;
		    display: table-cell;
		    vertical-align: top;
		    @media screen and (max-width:800px){
		    	display:block;
		    }
		}

		@media screen and (min-width:801px){
	    	.col-md-5{
				width: 41.66666667%;
			}
			.col-md-7 {
				padding-bottom: 72px;
			    width: 58.33333333%;
			}
			.no-image{
				.col-md-5{
					padding: 0;
					width:0%;
				}
				.col-md-7 {
					padding-bottom: 72px;
				    width: 100%;
				}
			}
	    }
		

		.stories-item-wrapper{
			position:relative;
		}
		

	}

}

/* STORIES DETAIL PAGE */

.stories-detail-wrapper{
	&> .container-fluid{
		padding-top:20px;
	}
	.dropdown-custom {
	    margin-bottom: 50px;
	}

	.navigation-page{
		.btn-transparent.btn-pink{
			color: @colorPink;
			&:hover, &:active, &:focus{
				color: @colorWhite;
			}
		}

		@media screen and (max-width:768px){

			.prev{
	    		float:left;
	    		a {
				    padding: 20px 30px;
				}
	    		span, .og-arrow.arrow-pink.arrow-left:nth-child(1){
	    			display:none;
	    		}
	    	}
	    	.next{
	    		float:right;
	    		a {
				    padding: 20px 30px;
				}
	    		span, .og-arrow.arrow-pink.arrow1{
	    			display:none;
	    		}
	    	}
	    }

	}

	.stories-detail-hero{
		.stories-detail-img{
			background-size:cover;
			height:500px;
			padding-top: 0%;
			width:100%;
			@media screen and (max-width:800px){
		    	height:auto;
		    	padding-top: 42.66%;
		    }

		    @media screen and (max-width:480px){
		    	padding-top: 49.66%;
		    }
		}
	}
	.stories-copy{
		margin-bottom:50px;
	}
	.stories-copy, .stories-copy p{
		letter-spacing:0.3px;
		line-height:28px;
		margin-bottom:25px;
	}
	.title{
		color:@colorPink;
		letter-spacing:0.3px;
		line-height:50px;
		margin-bottom:25px;
	}
	.wrapper-share{
		margin-bottom: 50px;
		p{
			color:#ff3d4a;
			font-size:14px;
			font-weight:bold;
			line-height:18px;
			margin-bottom:20px;
			text-transform:uppercase;
		}
	}
}

.at-resp-share-element .at-share-btn{
	border-radius:100% !important;
}

#at-cv-lightbox, .at-cv-lightbox-background{
	display:none !important;
}

.at-resp-share-element .at-share-btn:focus{
    color: #fff;
    text-decoration: none;
    -ms-transform: translateY(0px) !important;   
	-webkit-transform: translateY(0px)  !important;
	-moz-transform: translateY(0px)  !important;
	-o-transform: translateY(0px)  !important;   
	transform: translateY(0px)  !important;
}