@font-face {
  font-family: 'mm-socmed';
  src: url('assets/fonts/mm-socmed.eot?hkphut');
  src: url('assets/fonts/mm-socmed.eot?hkphut#iefix') format('embedded-opentype'), url('assets/fonts/mm-socmed.ttf?hkphut') format('truetype'), url('assets/fonts/mm-socmed.woff?hkphut') format('woff'), url('assets/fonts/mm-socmed.svg?hkphut#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mm-socmed' !important;
  speak: none;
  font-size: 27px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-if_facebook_circle .path1:before {
  content: "\e900";
  color: #4e71a8;
}
.icon-if_facebook_circle .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: #ffffff;
}
.icon-if_instagram_circle .path1:before {
  content: "\e902";
  color: #e53569;
}
.icon-if_instagram_circle .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: #ffffff;
}
.icon-if_linkedin_circle .path1:before {
  content: "\e904";
  color: #1686b0;
}
.icon-if_linkedin_circle .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: #ffffff;
}
.icon-if_pinterest_circle .path1:before {
  content: "\e906";
  color: #ca3737;
}
.icon-if_pinterest_circle .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: #ffffff;
}
.js .fouc,
.fouc {
  /* avoid fouc if js avail */
  visibility: hidden;
}
.no-js .fouc {
  visibility: visible;
}
/*
  Mixins
*/
/*
 Variables
*/
/* Primary Colors */
/* Secondary Colors */
/* width */
/* General CSS */
body {
  background-color: #ffffff;
  color: #3a3a3a;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
body:before {
  background-color: #25258e;
  content: "";
  display: block;
  height: 30px;
  margin-top: 74px;
  width: 100%;
}
@media screen and (max-width: 1080px) {
  body:before {
    margin-top: 65px;
  }
}
@media screen and (max-width: 1010px) {
  body:before {
    margin-top: 68px;
  }
}
body.stories,
body.white__theme {
  background-color: #ffffff;
}
.body-wrap.content {
  margin-top: 0px;
  min-height: calc(100vh - 310px);
}
.body-wrap.content:before {
  background-color: #ed3c48;
  content: "";
  display: block;
  height: 5px;
  width: 100%;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1120px;
}
/** BUTTONS **/
button,
.button,
.btn {
  border: 4px #ed3c48 solid;
  border-radius: 0px;
  color: #ed3c48;
  font-size: 16px;
  font-weight: 500;
  outline: 0;
  text-transform: uppercase;
}
button:hover,
.button:hover,
.btn:hover {
  color: #ffffff;
}
button:active,
.button:active,
.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-normal.btn-pink:focus,
.btn-normal.btn-pink:hover {
  border-color: #ed3c48;
}
.hvr-sweep-to-left:before,
.hvr-sweep-to-right:before {
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ed3c48;
  -webkit-transition-timing-function: ease-out;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}
/** 404 **/
body.page-notfound {
  background-image: url('assets/images/bg-404.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% bottom;
}
body.page-notfound h2 {
  letter-spacing: 3px;
  margin-bottom: 300px;
  text-align: center;
  text-transform: uppercase;
}
body.page-notfound .img-car-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  body.page-notfound .img-car-mobile {
    background-image: url('assets/images/bg-404-mobile.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  body.page-notfound {
    background-image: none;
  }
  body.page-notfound h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  body.page-notfound .img-car-mobile {
    background-image: url('assets/images/bg-404-mobile.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    display: block;
    height: 410px;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  body.page-notfound .img-car-mobile {
    height: 250px;
  }
}
/** FORM **/
textarea {
  resize: none;
}
textarea::-webkit-resizer {
  display: none;
}
/** TYPOGRAPHY **/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #25258e;
  font-weight: 700;
}
h1,
.h1 {
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
}
h2,
.h2 {
  font-size: 44px;
  line-height: 48px;
}
h3,
.h3 {
  font-size: 40px;
  line-height: 44px;
}
h4,
.h4 {
  font-size: 30px;
  line-height: 34px;
}
h5,
.h5 {
  font-size: 24px;
  line-height: 28px;
}
h6,
.h6,
p {
  font-size: 18px;
  line-height: 28px;
}
h6.pink,
.h6.pink,
p.pink {
  color: #ed3c48;
}
p {
  margin-bottom: 20px;
}
.fa-angle-up:before {
  content: "\f107";
}
.skip-access {
  height: 0px;
  overflow: hidden;
  position: absolute;
  width: 0px;
}
/* OVERWRITE SAM CSS */
@media only screen and (max-width: 767px) {
  .button_1O {
    display: none !important;
  }
}
.creative .container {
  max-width: 1135px;
  width: 100%;
}
.dropdown-custom > ul > li > a {
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.page-title {
  border: 0px;
  color: #25258e;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
  margin-top: 35px;
  max-width: 80%;
  padding: 8px 30px;
}
/* OVERWRITE SAM CSS - Platform Inside Page */
.platform-inside-wrapper .intro-text p {
  color: #ffffff;
}
@media screen and (max-width: 915px) and (min-width: 481px) {
  .platform-inside-wrapper .nav.navbar-nav.og-fmenus {
    max-width: 90%;
  }
  .platform-inside-wrapper .og-fmenus > li {
    margin-bottom: 7px;
    width: 48%;
  }
  .platform-inside-wrapper .og-fmenus .og-arrow:first-child,
  .platform-inside-wrapper .og-fmenus .og-arrow:last-child {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -1px;
  }
  .platform-inside-wrapper .og-fmenus .og-arrow:last-child {
    left: auto;
    right: 15px;
  }
}
@media screen and (max-width: 600px) {
  .platform-inside-wrapper .nav.navbar-nav.og-fmenus {
    max-width: 100%;
  }
}
@media screen and (max-width: 515px) {
  .platform-inside-wrapper .og-fmenus > li {
    margin-bottom: 2px;
    width: 100%;
  }
}
/* OVERWRITE SAM CSS - About us Page */
.about__theme .dropdown-custom > .dropdown-toggle,
.about__theme .dropdown-custom > .dropdown-toggle:focus,
.about__theme .dropdown-custom > .dropdown-toggle:hover {
  color: #25258e;
}
.about__theme .dropdown-custom > .dropdown-toggle::after {
  border-color: #25258e;
}
.about-wrapper .clients-list figure {
  padding: 3px;
}
/* OVERWRITE SAM CSS - Contact us Page */
@media screen and (max-width: 800px) {
  .contact__theme {
    background-image: none;
  }
  .contact__theme .form-wrapper p {
    font-size: 14px;
  }
}
/* OVERWRITE SAM CSS - Creative Page */
@media screen and (max-width: 992px) {
  .creative-wrapper .modal {
    padding-bottom: 30px;
    top: 69px;
    z-index: 995;
  }
  .modal-backdrop {
    z-index: 994;
  }
}
/* Header CSS */
header {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  left: 0;
  padding: 13px 0px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
@media screen and (max-width: 1010px) {
  header {
    padding: 10px 0px;
  }
}
/* Logo */
.wrapper-logo {
  display: inline-block;
  vertical-align: middle;
}
.wrapper-logo img {
  max-width: 150px;
  width: 100%;
}
.col-md-2.wrapper-logo {
  max-width: 166px;
}
@media screen and (max-width: 1080px) and (min-width: 1011px) {
  .col-md-2.wrapper-logo {
    width: 13%;
  }
  .col-md-10.main-navigation {
    padding-right: 15px;
    top: 0;
    width: 87%;
  }
}
/* Header Menu*/
.main-navigation {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  top: 8px;
  vertical-align: middle;
  width: calc(100% - 180px);
}
@media screen and (max-width: 1010px) {
  .main-navigation {
    left: 0;
    padding-left: 0;
    padding-right: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
.main-navigation .flag-lang {
  display: inline-block;
  position: relative;
  top: 4px;
  vertical-align: middle;
}
.main-navigation .flag-lang ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0;
}
.main-navigation .flag-lang ul li {
  display: inline-block;
  vertical-align: bottom;
}
.main-navigation .flag-lang ul .flag-lang-link {
  display: block;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.main-navigation .flag-lang ul .flag-lang-link:hover {
  text-decoration: none;
}
.main-navigation .flag-lang ul .flag-lang-link div {
  color: #25258e;
  font-size: 10px;
  font-weight: bold;
}
.main-navigation .flag-lang ul .flag-lang-link img {
  border: 1px solid #c4c4c4;
  outline: 0;
  width: 35px;
}
.main-navigation .flag-lang ul li:first-child .flag-lang-link {
  margin-left: 0px;
}
.main-navigation .flag-lang.desktop ul {
  display: block;
}
@media screen and (max-width: 1010px) {
  .main-navigation .flag-lang.desktop ul {
    display: none;
  }
}
.main-navigation .flag-lang.mobile {
  display: none;
  padding: 12px 0px 10px;
}
.main-navigation .flag-lang.mobile ul {
  padding: 0;
  text-align: center;
}
.main-navigation .flag-lang.mobile ul .flag-lang-link {
  margin: 0 5px;
}
@media screen and (max-width: 1010px) {
  .main-navigation .flag-lang.mobile {
    display: block;
  }
}
.main-navigation ul.header-socmed {
  display: none;
  list-style: none;
  margin-bottom: 20px;
  padding-left: 0px;
  text-align: center;
}
.main-navigation ul.header-socmed li {
  display: inline-block;
  margin: 0 2px;
}
.main-navigation ul.header-socmed li a {
  border: 0px;
  text-decoration: none;
}
.main-navigation ul.header-socmed li a img {
  border: 0px;
  outline: 0;
}
@media screen and (max-width: 1010px) {
  .main-navigation ul.header-socmed {
    display: block;
  }
}
.main-navigation .menu-mobile-btn {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1010px) {
  .main-navigation .menu-mobile-btn {
    display: inline-block;
    position: relative;
    right: -18px;
    top: 2px;
    width: 35px;
  }
}
.main-navigation .menu-mobile-btn .btn.btn-navbar {
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-width: inherit;
  padding: 0;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar {
  margin-top: -2px;
  position: absolute;
  right: 0px;
  top: 50%;
  -ms-transition: background 0.3s 0.3s;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar::before,
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar::after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: '';
  right: 0;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform .3s .3s;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar::before {
  top: -9px;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar::after {
  top: 9px;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar,
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar:before,
.main-navigation .menu-mobile-btn .btn.btn-navbar span.icon-bar:after {
  background: #25258e;
  border-radius: 5px;
  display: block;
  height: 5px;
  position: absolute;
  width: 35px;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar.nav-is-visible span.icon-bar {
  background: transparent;
}
.main-navigation .menu-mobile-btn .btn.btn-navbar.nav-is-visible span.icon-bar:before {
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.main-navigation .menu-mobile-btn .btn.btn-navbar.nav-is-visible span.icon-bar:after {
  -ms-transform: translateX(4px) translateY(3px) rotate(-45deg);
  -webkit-transform: translateX(4px) translateY(3px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(3px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(3px) rotate(-45deg);
  transform: translateX(4px) translateY(3px) rotate(-45deg);
}
@media screen and (max-width: 1010px) {
  .main-navigation .main-navigation-wrapper-nav {
    background-color: white;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 67px;
  }
}
.main-navigation .nav {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
@media screen and (max-width: 1010px) {
  .main-navigation .nav {
    display: block;
    left: 0;
    padding-bottom: 15px;
    right: 0;
    top: 0;
    width: 100%;
  }
}
.main-navigation .nav > li {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 1010px) {
  .main-navigation .nav > li {
    text-align: center;
    width: 100%;
  }
}
.main-navigation .nav > li.current_page_item > a:before {
  left: 0;
  right: 0;
  text-decoration: none;
}
.main-navigation .nav > li > a {
  padding: 12px;
}
.main-navigation .nav > li a {
  color: #25258e;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 0 10px 0 0;
  overflow: hidden;
  padding: 10px 0px;
  position: relative;
  -ms-transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (max-width: 1080px) {
  .main-navigation .nav > li a {
    margin: 0 10px 0 0;
  }
}
@media screen and (max-width: 1035px) {
  .main-navigation .nav > li a {
    margin: 0 7px 0 0;
  }
}
@media screen and (max-width: 992px) {
  .main-navigation .nav > li a {
    font-size: 14px;
    margin: 0;
    padding: 6px 0;
    text-align: center;
    width: 100%;
  }
}
.main-navigation .nav > li a:before {
  background: #25258e;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  right: 50%;
  -webkit-transition-property: left,right;
  transition-property: left,right;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 1010px) {
  .main-navigation .nav > li a:before {
    display: none;
  }
}
.main-navigation .nav > li a:hover,
.main-navigation .nav > li a:active,
.main-navigation .nav > li a:focus {
  background-color: transparent;
  outline: 0;
}
.main-navigation .nav > li a:hover:before {
  left: 0;
  right: 0;
  text-decoration: none;
}
.main-navigation .nav ul.nav-submenu {
  display: none;
  list-style: none;
  padding: 0 5px 5px;
  text-align: center;
}
@media screen and (max-width: 1010px) {
  .main-navigation .nav ul.nav-submenu {
    display: block;
  }
}
.main-navigation .nav ul.nav-submenu li {
  margin-bottom: 3px;
}
.main-navigation .nav ul.nav-submenu li a {
  color: #ed3c48;
  margin: 0;
}
@media screen and (max-width: 1010px) {
  .main-navigation .pull-right {
    position: relative;
    right: 15px;
    top: 20px;
  }
}
@media screen and (max-width: 1010px) {
  .main-navigation .wrapper-nav-content-mobile {
    max-height: calc(100vh - 68px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    position: relative;
  }
}
/* Search */
.search-button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.search-button .fa.fa-search {
  color: #25258e;
  font-size: 23px;
}
.search-button.mobile {
  display: none;
  margin: 0 2px;
}
.search-button.mobile .fa.fa-search {
  font-size: 26px;
  position: relative;
  top: 1px;
}
@media screen and (max-width: 1010px) {
  .search-button.desktop {
    display: none;
  }
  .search-button.mobile {
    display: inline-block;
  }
}
.search-bar-wrapper {
  background: #f6f6f6;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  display: none;
  left: 0;
  padding: 20px 0px;
  position: absolute;
  right: 0;
  top: 100%;
}
@media screen and (max-width: 1010px) {
  .search-bar-wrapper {
    top: 100%;
  }
}
.search-bar-wrapper .form-search {
  position: relative;
}
.search-bar-wrapper .form-search.focus label {
  left: 13px;
  font-size: 11px;
  color: #000;
  padding: 0 5px;
  top: 5px;
}
.search-bar-wrapper label {
  background: transparent;
  color: #8f8f8f;
  display: block;
  font-size: 15px;
  font-weight: 300;
  left: 18px;
  margin: 0;
  position: absolute;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  top: 17px;
  z-index: 1;
}
.search-bar-wrapper input {
  border: 0px;
  border-radius: 0px;
}
.search-bar-wrapper .form-control {
  background-color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  color: #555555;
  height: auto;
  padding: 22px 18px 10px;
}
.search-bar-wrapper .form-control:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
/* Footer CSS */
footer {
  background-color: #333333;
  color: #ffffff;
  padding-bottom: 80px;
  padding-top: 50px;
}
@media only screen and (max-width: 768px) {
  footer {
    padding-bottom: 120px;
  }
}
footer a {
  color: #ffffff;
}
footer a:hover,
footer a:focus,
footer a:active,
footer a:visited {
  color: #ffffff;
}
footer #scrolltop {
  bottom: 70px;
}
@media only screen and (max-width: 768px) {
  footer #scrolltop {
    bottom: 35px;
  }
}
footer .footer-info {
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
}
footer .footer-info.email {
  margin-top: 10px;
}
footer .footer-info.copyright {
  margin-top: 25px;
}
footer .footer-info.copyright .copy {
  text-transform: none;
}
footer .footer-chatbox {
  margin-top: 0px;
  position: fixed;
  bottom: 60px;
  right: 150px;
}
@media only screen and (max-width: 768px) {
  footer .footer-chatbox {
    bottom: 20px;
  }
}
footer h2 {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: .3px;
  line-height: 20px;
  margin-top: 10px;
  margin-top: 0;
  text-transform: uppercase;
}
footer .container-fluid {
  position: relative;
}
body.stories footer ul.footer-links,
body.about footer ul.footer-links,
body.about__theme footer ul.footer-links,
body.white__theme footer ul.footer-links,
body.search-results footer ul.footer-links {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
}
body.stories footer ul.footer-links li,
body.about footer ul.footer-links li,
body.about__theme footer ul.footer-links li,
body.white__theme footer ul.footer-links li,
body.search-results footer ul.footer-links li {
  display: inline-block;
}
body.stories footer ul.footer-links li:after,
body.about footer ul.footer-links li:after,
body.about__theme footer ul.footer-links li:after,
body.white__theme footer ul.footer-links li:after,
body.search-results footer ul.footer-links li:after {
  background-color: #252525;
  content: "";
  display: inline-block;
  height: 13px;
  margin: 0 12px;
  position: relative;
  top: 2px;
  width: 1px;
}
body.stories footer ul.footer-links li:last-child:after,
body.about footer ul.footer-links li:last-child:after,
body.about__theme footer ul.footer-links li:last-child:after,
body.white__theme footer ul.footer-links li:last-child:after,
body.search-results footer ul.footer-links li:last-child:after {
  display: none;
}
body.stories footer ul.footer-links li a,
body.about footer ul.footer-links li a,
body.about__theme footer ul.footer-links li a,
body.white__theme footer ul.footer-links li a,
body.search-results footer ul.footer-links li a {
  color: #252525;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
body.stories footer ul.footer-links li.current_page_item a,
body.about footer ul.footer-links li.current_page_item a,
body.about__theme footer ul.footer-links li.current_page_item a,
body.white__theme footer ul.footer-links li.current_page_item a,
body.search-results footer ul.footer-links li.current_page_item a {
  color: #fb313e;
}
@media screen and (max-width: 768px) {
  body.stories footer ul.footer-links,
  body.about footer ul.footer-links,
  body.about__theme footer ul.footer-links,
  body.white__theme footer ul.footer-links,
  body.search-results footer ul.footer-links {
    text-align: center;
  }
}
/* Campaigns CSS */
#gridcampaigns {
  text-align: center;
}
.campaigns-wrapper {
  margin: 0 auto;
  max-width: 100%;
  padding: 0px 15px;
}
.campaigns-wrapper .intro-text {
  color: #3a3a3a;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 28px;
  margin: 0 auto 35px;
  max-width: 1090px;
  width: 100%;
}
.campaigns-wrapper .campaigns-item-wrapper-copy {
  background-color: #2d2d2d;
  bottom: 9px;
  color: #ffffff;
  padding: 27px 20px;
  position: absolute;
  text-align: right;
  -ms-transition: bottom 0.5s;
  -webkit-transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  transition: bottom 0.5s;
  width: calc(100% - 14px);
}
@media screen and (max-width: 520px) {
  .campaigns-wrapper .campaigns-item-wrapper-copy {
    width: 100%;
  }
}
.campaigns-wrapper .campaigns-item-wrapper-copy .campaigns-item-copy {
  display: inline-block;
  position: relative;
  width: 90%;
}
.campaigns-wrapper .campaigns-item-wrapper-copy .desc {
  clear: both;
  display: none;
  float: right;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 16px;
  margin-top: 8px;
  max-width: 160px;
  text-decoration: underline;
}
.campaigns-wrapper .campaigns-item-wrapper-copy .title {
  clear: both;
  float: right;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 22px;
  max-width: 210px;
  text-transform: uppercase;
}
/*Contact*/
/*====================================================*/
.contact-wrapper ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
.contact-wrapper ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.contact-wrapper :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
.contact-wrapper :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.contact__theme .body-wrap.content > .text-center {
  max-width: 920px;
  margin: 0 auto;
  display: block;
}
.contact-wrapper .container-section {
  max-width: 920px;
}
.contact-wrapper .form-wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.contact-wrapper .form-wrapper .form-control {
  color: #3a3a3a;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #ed3c48;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 15px;
  height: auto;
}
.contact-wrapper label {
  font-size: 18px;
  font-weight: bold;
}
.contact-wrapper .maps {
  margin: 0 auto;
  padding: 50px 0 10px;
}
.contact-wrapper .maps-details {
  max-width: 640px;
  margin: 0 auto;
  padding: 5px 0 30px;
}
.contact-wrapper .maps-details:before {
  background-color: #25258e;
  border-radius: 5px;
  content: "";
  display: block;
  height: 4px;
  margin-bottom: 5px;
  width: 18px;
}
.contact-wrapper .maps-details a,
.contact-wrapper .maps-details a:hover,
.contact-wrapper .maps-details a:visited,
.contact-wrapper .maps-details a:focus {
  color: #ed3c48;
}
/* Coverage CSS */
.coverage-wrapper {
  margin-bottom: 30px;
}
.coverage-wrapper .coverage-area {
  margin-bottom: 100px;
}
.coverage-wrapper .coverage-area .map h4 {
  color: #ed3c48;
  margin-bottom: 22px;
}
.coverage-wrapper .dropdown-custom > ul > li > a:focus,
.coverage-wrapper .dropdown-custom > ul > li > a:hover,
.coverage-wrapper .dropdown-custom > ul > li.active > a,
.coverage-wrapper .dropdown-custom > ul > li.active > a:focus,
.coverage-wrapper .dropdown-custom > ul > li.active > a:hover {
  color: #fe414e;
}
.dropdown-custom {
  margin-bottom: 35px;
}
.dropdown-custom > ul > li {
  margin: 0 25px 0 0px;
}
.dropdown-custom > ul > li:last-child {
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .dropdown-custom > ul > li {
    margin: 0px;
  }
}
.dropdown-custom > ul > li > a {
  color: #25258e;
  padding: 15px 0px 10px;
  margin: 0;
  background: 0 0;
  border: none;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  position: relative;
}
.dropdown-custom > ul > li > a:focus,
.dropdown-custom > ul > li > a:hover,
.dropdown-custom > ul > li.active > a,
.dropdown-custom > ul > li.active > a:focus,
.dropdown-custom > ul > li.active > a:hover {
  padding: 15px 0px 10px;
}
.dropdown-custom > .dropdown-toggle {
  padding: 10px 25px 10px 0px;
}
.dropdown-custom > ul > li > a::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 3px;
  background-color: #fe414e;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition-property: left,right,opacity;
  transition-property: left,right,opacity;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* Home CSS */
/** HOME HERO **/
.feature-slider-home {
  margin-bottom: 35px;
  position: relative;
}
.feature-slider-home:before {
  background-color: #25258e;
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  top: 100%;
  width: 100%;
}
.feature-slider-home:after {
  background-color: #ed3c48;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  top: calc(100% + 30px);
  width: 100%;
}
.feature-slider-home .slick-carousel .fill {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-top: 0;
  min-height: calc(100vh - 145px);
  width: 100%;
}
.feature-slider-home .slick-carousel .fill .carousel-caption-slide {
  bottom: 5px;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  left: 50%;
  line-height: 50px;
  max-width: 750px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2px 1px #363738;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}
.feature-slider-home .slick-carousel .fill .carousel-caption-slide p {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 0px;
  text-shadow: 0px 2px 1px #363738;
}
@media screen and (max-width: 768px) {
  .feature-slider-home .slick-carousel .fill .carousel-caption-slide {
    font-size: 30px;
    line-height: 34px;
  }
  .feature-slider-home .slick-carousel .fill .carousel-caption-slide p {
    font-size: 30px;
    line-height: 34px;
  }
}
@media screen and (max-width: 480px) {
  .feature-slider-home .slick-carousel .fill .carousel-caption-slide {
    font-size: 24px;
    line-height: 28px;
  }
  .feature-slider-home .slick-carousel .fill .carousel-caption-slide p {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 768px) {
  .feature-slider-home .slick-carousel .fill {
    min-height: inherit;
    padding-top: 62.5%;
  }
  .feature-slider-home .slick-carousel .fill .carousel-caption-slide {
    bottom: 3%;
  }
}
/** Thumbnail Box Feature **/
.feature-thumbnail-box {
  padding-top: 10px;
  text-align: center;
}
.feature-thumbnail-box h2 {
  color: #25258e;
  font-size: 30px;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
  padding-top: 30px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .feature-thumbnail-box h2 {
    font-size: 28px;
    line-height: 32px;
  }
}
.feature-thumbnail-box ul {
  list-style: none;
  max-width: 100%;
  padding-left: 0px;
  text-align: center;
}
.feature-thumbnail-box ul li {
  color: #ffffff;
  display: inline-block;
  margin: 10px 25px 25px 0px;
  width: calc(33.333% - 20px);
  vertical-align: top;
}
.feature-thumbnail-box ul li:last-child {
  margin: 10px 0px 25px 0px;
}
@media screen and (max-width: 768px) {
  .feature-thumbnail-box ul li {
    display: block;
    margin: 10px auto;
    max-width: 300px;
    width: 100%;
  }
  .feature-thumbnail-box ul li:last-child {
    display: block;
    margin: 10px auto;
  }
}
@media screen and (max-width: 480px) {
  .feature-thumbnail-box ul li {
    display: block;
    margin: 10px auto;
    max-width: 250px;
    width: 100%;
  }
  .feature-thumbnail-box ul li:last-child {
    display: block;
    margin: 10px auto;
  }
}
.feature-thumbnail-box .wrapper-feature {
  background-color: #ed3c48;
  padding: 35px 25px;
}
.feature-thumbnail-box .wrapper-feature .feature-row1 {
  display: table;
  padding-bottom: 15px;
  width: 100%;
}
.feature-thumbnail-box .wrapper-feature .feature-row1 h3 {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
}
.feature-thumbnail-box .wrapper-feature .feature-row1 .wrapper-content-row1 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.feature-thumbnail-box .wrapper-feature .feature-text {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 25px;
}
/* HOME BOTTOM LINKS */
.home-bottom-links ul {
  margin: 50px auto;
  text-align: center;
}
.home-bottom-links ul li {
  display: inline-block;
  margin: 0px auto 5px;
  max-width: 300px;
  width: 33.33%;
}
@media screen and (max-width: 768px) {
  .home-bottom-links ul li {
    width: 100%;
  }
}
.home-bottom-links ul li .btn,
.home-bottom-links ul li .button,
.home-bottom-links ul li button {
  font-size: 18px;
}
/* Insight CSS */
.insight-wrapper .container-fluid {
  margin-bottom: 150px;
}
.insight-wrapper .intro-text {
  color: #3a3a3a;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 28px;
  margin: 0 auto 45px;
  width: 100%;
}
.insight-wrapper .wrapper-cta {
  background-color: #25258e;
  text-align: center;
}
.insight-wrapper .wrapper-cta:before {
  background-color: #ed3c48;
  content: "";
  display: block;
  height: 5px;
  width: 100%;
}
.insight-wrapper .wrapper-cta .content-cta {
  padding: 35px 0 50px;
}
.insight-wrapper .wrapper-cta .content-cta h2 {
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0.3px;
  line-height: 34px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.insight-wrapper .wrapper-cta .content-cta a {
  color: #ffffff;
}
.insight-wrapper .wrapper-cta .content-cta a.btn {
  font-size: 18px;
  line-height: 20px;
  padding: 15px 55px;
}
/* Pricing Page CSS */
.pricing-wrapper {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 15px;
}
.pricing-wrapper .intro-text {
  color: #3a3a3a;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 28px;
  margin: 0 0px 20px;
}
@media screen and (max-width: 580px) {
  .pricing-wrapper .intro-text {
    margin: 0 0px 30px;
  }
}
.pricing-wrapper .og-fmenus,
.pricing-wrapper .og-hmenus {
  left: 50%;
  position: relative;
  text-align: center;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.pricing-wrapper .og-hmenus > li {
  padding: 0 5px;
  width: 269px;
}
.pricing-wrapper .og-fmenus > li > a span {
  padding: 0 40px;
}
.pricing-wrapper .og-fmenus > li > a.btn-bg-pink span {
  padding: 0px 2px;
}
.pricing-wrapper .pricing-list {
  list-style: none;
  margin-bottom: 50px;
  overflow: hidden;
  padding-left: 0;
}
.pricing-wrapper .pricing-list li {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: calc(50% - 27.5px);
}
.pricing-wrapper .pricing-list li .wrapper-item {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: relative;
}
.pricing-wrapper .pricing-list li:nth-child(odd) {
  clear: left;
  margin: 30px 25px 30px 0px;
}
.pricing-wrapper .pricing-list li:nth-child(odd) .wrapper-item {
  animation-delay: 50ms;
}
.pricing-wrapper .pricing-list li:nth-child(even) {
  margin: 30px 0px 30px 25px;
}
.pricing-wrapper .pricing-list li:nth-child(even) .wrapper-item {
  animation-delay: 150ms;
}
@media screen and (max-width: 768px) {
  .pricing-wrapper .pricing-list li {
    width: calc(50% - 17.5px);
  }
  .pricing-wrapper .pricing-list li:nth-child(odd) {
    margin: 15px 15px 15px 0;
  }
  .pricing-wrapper .pricing-list li:nth-child(even) {
    margin: 15px 0 15px 15px;
  }
}
@media screen and (max-width: 580px) {
  .pricing-wrapper .pricing-list li {
    margin: 15px 0px;
    width: 100%;
  }
  .pricing-wrapper .pricing-list li:nth-child(odd) {
    animation-delay: 100ms;
    margin: 15px 0;
  }
  .pricing-wrapper .pricing-list li:nth-child(even) {
    animation-delay: 200ms;
    margin: 15px 0;
  }
}
.pricing-wrapper .pricing-list li .pricing-item-desc-content {
  padding-bottom: 20px;
}
.pricing-wrapper .pricing-list li .pricing-item-desc {
  background-color: #ffffff;
  border: 3px solid #ed3c48;
  border-top: 0px;
  color: #25258e;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 26px;
  padding: 28px;
}
.pricing-wrapper .pricing-list li .pricing-item-img {
  background-color: #ffffff;
  padding-top: 60%;
  position: relative;
}
.pricing-wrapper .pricing-list li .pricing-item-img div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.pricing-wrapper .pricing-list li .pricing-item-title {
  background-color: #ed3c48;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 28px;
  padding: 18px 28px;
  text-transform: uppercase;
}
/* Policies CSS */
.policies .container-fluid .panel-body,
.accreditation .container-fluid .panel-body {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 26px;
  margin-bottom: 15px;
  padding: 20px 0px 0px;
}
.policies .container-fluid .panel-body a,
.accreditation .container-fluid .panel-body a {
  color: #3a3a3a;
  font-weight: bold;
}
.policies .container-fluid .panel-body h1,
.accreditation .container-fluid .panel-body h1,
.policies .container-fluid .panel-body .h1,
.accreditation .container-fluid .panel-body .h1,
.policies .container-fluid .panel-body h2,
.accreditation .container-fluid .panel-body h2,
.policies .container-fluid .panel-body .h2,
.accreditation .container-fluid .panel-body .h2,
.policies .container-fluid .panel-body h3,
.accreditation .container-fluid .panel-body h3,
.policies .container-fluid .panel-body .h3,
.accreditation .container-fluid .panel-body .h3,
.policies .container-fluid .panel-body h4,
.accreditation .container-fluid .panel-body h4,
.policies .container-fluid .panel-body .h4,
.accreditation .container-fluid .panel-body .h4,
.policies .container-fluid .panel-body h5,
.accreditation .container-fluid .panel-body h5,
.policies .container-fluid .panel-body .h5,
.accreditation .container-fluid .panel-body .h5,
.policies .container-fluid .panel-body h6,
.accreditation .container-fluid .panel-body h6,
.policies .container-fluid .panel-body .h6,
.accreditation .container-fluid .panel-body .h6 {
  color: #3a3a3a;
}
.policies .container-fluid .panel-body h5,
.accreditation .container-fluid .panel-body h5 {
  letter-spacing: 0.3px;
  line-height: 34px;
}
.policies .container-fluid .panel-body ol,
.accreditation .container-fluid .panel-body ol,
.policies .container-fluid .panel-body ul,
.accreditation .container-fluid .panel-body ul {
  padding-left: 30px;
}
.policies .container-fluid .panel-body p,
.accreditation .container-fluid .panel-body p {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 26px;
  margin-bottom: 10px;
}
.policies h1,
.accreditation h1 {
  color: #25258e;
}
.policies .intro-text,
.accreditation .intro-text {
  margin: 20px 0px 40px;
}
.panel {
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel-default,
.panel-default > .panel-heading {
  border-color: transparent;
  background-color: transparent;
}
.panel-default > .panel-heading {
  border-bottom: 3px solid #25258e;
  padding: 15px 0 0 0;
}
.panel-heading {
  padding: 15px 0px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: 0px;
  padding-bottom: 20px;
}
.panel-title {
  color: #25258e;
  font-size: 30px;
  line-height: 40px;
}
@media only screen and (max-width: 768px) {
  .panel-title {
    font-size: 25px;
    line-height: 35px;
  }
}
.panel-title a {
  display: block;
  padding: 0 0 15px 0;
}
.panel-title a i {
  float: right;
  -ms-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.panel-title a.collapsed i {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.panel-title a:hover,
.panel-title a:focus {
  text-decoration: none;
}
/* Start Campaigns */
/*====================================================*/
.start-campaign-wrapper ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
.start-campaign-wrapper ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.start-campaign-wrapper :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
.start-campaign-wrapper :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.contact__theme .body-wrap.content > .text-center {
  max-width: 920px;
  margin: 0 auto;
  display: block;
}
.start-campaign-wrapper .container-section {
  max-width: 920px;
}
.start-campaign-wrapper .form-wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.start-campaign-wrapper .form-wrapper .form-control {
  color: #3a3a3a;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #ed3c48;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 15px;
  height: auto;
}
.start-campaign-wrapper label {
  font-size: 18px;
  font-weight: bold;
}
.start-campaign-wrapper .maps {
  margin: 0 auto;
  padding: 50px 0 10px;
}
.start-campaign-wrapper .maps-details {
  max-width: 640px;
  margin: 0 auto;
  padding: 5px 0 30px;
}
.start-campaign-wrapper .maps-details:before {
  background-color: #25258e;
  border-radius: 5px;
  content: "";
  display: block;
  height: 4px;
  margin-bottom: 5px;
  width: 18px;
}
.start-campaign-wrapper .maps-details a,
.start-campaign-wrapper .maps-details a:hover,
.start-campaign-wrapper .maps-details a:visited,
.start-campaign-wrapper .maps-details a:focus {
  color: #ed3c48;
}
