.og-div {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    display: block;
    width: 100%;
}

.og-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(237, 60, 72, 0.7);
    padding: 20px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 20px;
    text-transform: uppercase;
}

.og-grid {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    /*margin-left: -10px;*/
    /*margin-right: -10px;*/
    /*text-align: center;*/
    /*width: 100%;*/
}

.og-grid li {
    position: static;
    display: inline-block;
    /*margin: 10px 0 0;*/
    vertical-align: top;
    /*width: 33.33%;*/
    /*padding: 0 10px;
    margin: 10px auto;*/
    /*float: left;*/
    /*min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;*/
    /*height: 250px;*/
}




/*.og-grid {
    list-style: none;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.og-grid li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    height: 250px;
}*/

.og-grid li>a,
.og-grid li>a img {
    border: none;
    outline: none;
    display: block;
    position: relative;
    max-width: 100%;
}

.og-grid li.og-expanded>a::after {
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 15px;
    left: 50%;
    margin: -20px 0 0 -15px;
}

.og-expander {
    position: absolute;
    background: #fff;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    height: 0;
    overflow: hidden;
}

.og-expander-inner {
    position: relative;
    padding: 25px 0;
    margin: 0 auto;
    /*height: 100%;*/
    max-width: 1124px;
}

.og-expander-inner::before,
.og-expander-inner::after {
    display: table;
    content: " ";
}

.og-expander-inner::after {
    clear: both;
}

.og-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    display: inline-block;
    z-index: 10;
}

.og-close::before,
.og-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 5px;
    background: #fc414e;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.og-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
    background: #333;
}

.og-fullimg,
.og-details {
    width: 50%;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.og-details {
    padding: 0 15px 0 40px;
}

.og-fullimg {
    padding: 5px 15px;
    text-align: center;
}

.og-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

.og-details h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #fc414e;
    text-transform: uppercase;
    margin-bottom: 15px;
    /*padding: 40px 0 10px;*/
    /*margin-bottom: 10px;*/
}

.og-details p {
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #2f2f2f;
}

.og-details a {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.3px;
    padding: 20px 40px;
    display: inline-block;
    text-align: center;
    margin: 15px 0 0;
    outline: 0;
    text-decoration: none;
}





/*.og-details a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 10px;
}*/

.og-details a:hover {
    color: #fff;
    text-decoration: none;
}

.og-loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    -webkit-animation: loader 0.5s infinite ease-in-out both;
    -moz-animation: loader 0.5s infinite ease-in-out both;
    animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
    0% {
        background: #ddd;
    }
    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }
    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}

@-moz-keyframes loader {
    0% {
        background: #ddd;
    }
    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }
    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}

@keyframes loader {
    0% {
        background: #ddd;
    }
    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }
    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}