.grid__animate {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective-origin: 50% 100%;
}

.grid__item {
    position: relative;
    display: block;
    flex: none;
    cursor: default;
    transform-style: preserve-3d;
    color: inherit;
}

.grid__item:hover,
.grid__item:focus {
    outline: none;
    text-decoration: none;
}

.stack__grid {
    position: relative;
    width: 100%;
    height: 280px;
    transform-style: preserve-3d;
}

.stack__deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fe414e;
    transform-origin: 50% 100%;
}

.stack__deco:first-child {
    opacity: 0.2;
}

.stack__deco:nth-child(2) {
    opacity: 0.4;
}

.stack__deco:nth-child(3) {
    opacity: 0.6;
}

.stack__figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-origin: 50% 100%;
}

.stack__img {
    position: relative;
    display: block;
    flex: none;
}

/* Hamal */
.grid--effect-hamal {
    perspective: none;
}

.grid--effect-hamal .column {
    opacity: 1;
}