<!--[if lt IE 9]>

        <script type="text/javascript" src="Australia/Assets/js/Lib/html5shiv-printshiv.js"></script>

<![endif]-->
<script type="text/javascript" src="assets/js/lib.js"></script>
<script type="text/javascript" src="assets/js/content.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>