<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="pull-left">
            <h2>contact us</h2>
            <div class="row footer-info">
                <div class="col-md-4">Head Office</div>
                <div class="col-md-4">02 9690 1144</div>
            </div>
            <div class="row footer-info">
                <div class="col-md-4">Melbourne Office</div>
                <div class="col-md-4">03 9914 7039</div>
            </div>
            <div class="row footer-info email">
                <div class="col-md-4">Email</div>
                <div class="col-md-4"><a href="mailto:info@moovemediaoz.com" target="_blank">info@moovemediaoz.com</a></div>
            </div>

            <div class="row footer-info copyright">
                <div class="col-md-12"><a href="page-policies.shtml">PRIVACY POLICY</a></div>
                <div class="col-md-12 copy">&copy; 2017 All Rights Reserved. Moove Media Australia.</div>
            </div>
        </div>
        <div class="pull-right">
            
            <a role="button" id="scrolltop"><i class="og-arrow"></i></a>
            <div class="footer-chatbox" id="moovemedialivechat"></div>
        </div>
    </div>
    
   

    
    
</footer>

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function() { var widget_id = 'iMHNaoTMiV';var d = document;var w = window;function l() {var s = document.createElement('script');s.type = 'text/javascript';s.async = true;s.src = '//code.jivosite.com/script/widget/' + widget_id;var ss = document.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s, ss);var livechat = document.getElementById('moovemedialivechat');var i = document.createElement('img');i.src = "assets/images/chat-icon.png";i.alt = "Live Chat Icon";var a = document.createElement('a');a.appendChild(i);a.setAttribute("role", "button");a.title = "Live Chat";livechat.appendChild(a);}    if (d.readyState == 'complete') { l(); } else { if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
})();
</script>
<!-- {/literal} END JIVOSITE CODE -->