.grid-wrap-gridNews {
	clear: both;
	margin: 0 auto;
	padding: 0;
	max-width: 1100px;
}

.grid-wrap-gridNews .gridNews {
	margin: 30px auto;
	padding: 0;
	list-style: none;
	min-height: 500px;
}

.js .grid-wrap-gridNews .gridNews {
	/*background: url(../img/loading.gif) no-repeat 50% 100px;*/
}

.js .grid-wrap-gridNews .gridNews.loaded {
	background: none;
}

.grid-wrap-gridNews .gridNews li {
	display: inline-block;
	overflow: hidden;
	width: 33.333%;
	text-align: left;
	vertical-align: top;
}

@media screen and (max-width: 992px){
	.grid-wrap-gridNews .gridNews li {
		width: 314px;
	}

}

@media screen and (max-width: 480px){
	.grid-wrap-gridNews .gridNews li {
		width: 280px;
	}

}

.js .grid-wrap-gridNews .gridNews li {
	display: none;
	float: left;
}

.js .grid-wrap-gridNews .gridNews.loaded li {
	display: block;
}

/* Title box */
.grid-wrap-gridNews .title-box h2 {
	display: block;
	margin: 7px;
	padding: 20px;
	background: #2E3444;
	color: #D3EEE2;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
}

.grid-wrap-gridNews .title-box h2 a {
	display: block;
	font-weight: 900;
}

.grid-wrap-gridNews .title-box h2 a:hover {
	color: #D3EEE2;
}

/* Anchor and image */
.grid-wrap-gridNews .gridNews li > a,
.grid-wrap-gridNews .gridNews li img {
	display: block;
	outline: none;
	border: none;
}
.grid-wrap-gridNews .gridNews li img {
	width: 100%;
}

.grid-wrap-gridNews .gridNews li > a {
	position: relative;
	overflow: hidden;
	margin: 7px;
}

/* Curtain element */
.grid-wrap-gridNews .gridNews .curtain {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgb(232, 57, 21);
}

.grid-wrap-gridNews .gridNews li:nth-child(3n+1) .curtain {
	background: #edae45;
}
.grid-wrap-gridNews .gridNews li:nth-child(3n+2) .curtain {
	background: #7475c8;
}
.grid-wrap-gridNews .gridNews li:nth-child(3n+3) .curtain {
	background: #e58088;
}

.grid-wrap-gridNews .gridNews.swipe-right .curtain {
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.grid-wrap-gridNews .gridNews.swipe-down .curtain {
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.grid-wrap-gridNews .gridNews.swipe-rotate .curtain {
	width: 200%;
	height: 200%;
	-webkit-transform: rotate3d(0,0,1,90deg);
	transform: rotate3d(0,0,1,90deg);
	-webkit-transform-origin: top left;
	transform-origin: top left;
}

/* Shadow */
.grid-wrap-gridNews .gridNews .curtain::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,1);
	content: '';
}

.grid-wrap-gridNews .gridNews.swipe-right .curtain::after,
.grid-wrap-gridNews .gridNews.swipe-rotate .curtain::after {
	left: -100%;
}

.grid-wrap-gridNews .gridNews.swipe-down .curtain::after {
	top: -100%;
}

/* Title */
.grid-wrap-gridNews .gridNews li .inthenews-item-wrapper-copy {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 20px;
	width: 100%;
	background: #2E3444;
	color: #ffffff;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
	font-size: 1em;
	-webkit-transition: -webkit-transform 0.2s, color 0.2s;
	transition: transform 0.2s, color 0.2s;
}
.grid-wrap-gridNews .gridNews li .inthenews-item-wrapper-copy .desc {
    clear: both;
    display: none;
    float: right;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 18px;
    margin-top: 4px;
    max-width: 260px;
    text-decoration: underline;
}

/* Pseudo element for hover effect */
.grid-wrap-gridNews .gridNews li > a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100.5%;
	height: 100.5%;
	border: 0px solid transparent;
	background: rgba(0,0,0,0);
	content: '';
	-webkit-transition: border-width 0.2s, border-color 0.2s;
	transition: border-width 0.2s, border-color 0.2s;
}

/* Hover effects */
.grid-wrap-gridNews .gridNews li.shown:hover .inthenews-item-wrapper-copy {
	color: #fff;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

.grid-wrap-gridNews .gridNews li.shown:hover .inthenews-item-wrapper-copy .desc{
	display: block;
}

.grid-wrap-gridNews .gridNews li.shown:hover > a::before {
	border-width: 14px;
	border-color: #2E3444;
}

/* Animations */

/* Swipe right */
.grid-wrap-gridNews .gridNews.swipe-right li.animate .curtain {
	-webkit-animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
	animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}

@-webkit-keyframes swipeRight {
	0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
	50%, 60% { -webkit-transform: translate3d(0,0,0); }
	100% { -webkit-transform: translate3d(100%,0,0); }
}

@keyframes swipeRight {
	0% {}
	50%, 60% { -webkit-transform: translate3d(0,0,0); transform: translate(0); }
	100% { -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0); }
} 

/* Swipe down */
.grid-wrap-gridNews .gridNews.swipe-down li.animate .curtain {
	-webkit-animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
	animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}

@-webkit-keyframes swipeDown {
	0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
	50%, 60% { -webkit-transform: translate3d(0,0,0); }
	100% { -webkit-transform: translate3d(0,100%,0); }
}

@keyframes swipeDown {
	0% {}
	50%, 60% { -webkit-transform: translate(0); transform: translate(0); }
	100% { transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
}

/* Swipe rotate */
.grid-wrap-gridNews .gridNews.swipe-rotate li.animate .curtain {
	-webkit-animation: swipeRotate 1.5s ease forwards;
	animation: swipeRotate 1.5s ease forwards;
}

@-webkit-keyframes swipeRotate {
	0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
	50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); }
	100% { -webkit-transform: rotate3d(0,0,1,-90deg); }
}

@keyframes swipeRotate {
	0% {}
	50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); transform: rotate3d(0,0,1,0deg); }
	100% { -webkit-transform: rotate3d(0,0,1,-90deg); transform: rotate3d(0,0,1,-90deg); }
}

/* Shadow */
.grid-wrap-gridNews .gridNews li.animate .curtain::after {
	-webkit-animation: fadeOut 1.5s ease forwards;
	animation: fadeOut 1.5s ease forwards;
	-webkit-animation-delay: inherit;
	animation-delay: inherit;
}

@-webkit-keyframes fadeOut {
	0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
	50%, 60% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeOut {
	0% {}
	50%, 60% { opacity: 1; }
	100% { opacity: 0; }
}

/* Hide image and title and show at half time */
.js .grid-wrap-gridNews .gridNews li img,
.js .grid-wrap-gridNews .gridNews li .inthenews-item-wrapper-copy {
	visibility: hidden;
}

.grid-wrap-gridNews .gridNews li.animate img,
.grid-wrap-gridNews .gridNews li.animate .inthenews-item-wrapper-copy {
	-webkit-animation: showMe 1.5s step-end forwards;
	animation: showMe 1.5s step-end forwards;
}

@-webkit-keyframes showMe {
	from { visibility: hidden; }
	60%, 100% { visibility: visible; }
}

@keyframes showMe {
	from { visibility: hidden; }
	60%, 100% { visibility: visible; }
}

.grid-wrap-gridNews .gridNews li.shown img,
.grid-wrap-gridNews .gridNews li.shown .inthenews-item-wrapper-copy {
	visibility: visible;
}