<!--[if lt IE 9]>

        <script type="text/javascript" src="Assets/Scripts/Lib/html5shiv-printshiv.js"></script>

<![endif]-->
<script type="text/javascript" src="assets/Scripts/lib.js"></script>
<!-- <script type="text/javascript" src="Assets/Scripts/common.js"></script> -->
<script type="text/javascript" src="assets/Scripts/content.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>