<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="pull-left">
            
            <ul class="footer-links">
                <li><a href="page-careers.shtml">careers</a></li>
                <li><a href="page-policies.shtml">policies</a></li>
                <li><a href="page-accreditation.shtml">accreditation</a></li>
            </ul>
            <ul class="footer-socmed">
                <li>
                    <a href="#" alt="Facebook">
						<span class="icon-if_facebook_circle">
		                    <span class="path1"></span><span class="path2"></span>
		                </span>
					</a>
                </li>
                <li>
                    <a href="#" alt="Instagram">
						<span class="icon-if_instagram_circle">
		                	<span class="path1"></span><span class="path2"></span>
		                </span>
					</a>
                </li>
                <li>
                    <a href="#" alt="Linkedin">
						<span class="icon-if_linkedin_circle">
		                	<span class="path1"></span><span class="path2"></span>
		                </span>	
					</a>
                </li>
                <li>
                    <a href="#" alt="Pinterest">
						<span class="icon-if_pinterest_circle">
		                	<span class="path1"></span><span class="path2"></span>
		                </span>
	                </a>
                </li>
            </ul>
        </div>
        <div class="pull-right">
            <a role="button" id="scrolltop"><i class="og-arrow"></i></a>
        </div>
    </div>
    
    <div class="footer-promotion-mobile animated" id="promotion-mobile"></div>

    <!-- <div class="footer-chatbox" id="moovemedialivechat"></div> -->
    
</footer>
<!-- POP UP PROMOTION visible-->
<div class="pop-up-promotion-wrapper">
    <div class="pop-up-promotion-overlay"></div>
    <div class="container-fluid">
        <div class="pop-up-promotion-content">
            <img src="assets/images/close.png" class="close-popup" />
            <div class="title">PROMOTIONS YOU CAN’T MISS!</div>
            <div class="img">
                <div>
                    <a href="page-promotions.shtml">
					   <img src="assets/images/dummy/promotions/pop-up-img.jpg" alt="pop up promotions">
                    </a>
					<div class="link-findoutmore">find out more</div>

				</div>
            </div>
        </div>
    </div>
</div>
<!--// POP UP PROMOTION -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57c3f5ac2d71dbb1"></script>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function() { var widget_id = 'iMHNaoTMiV';var d = document;var w = window;function l() {var s = document.createElement('script');s.type = 'text/javascript';s.async = true;s.src = '//code.jivosite.com/script/widget/' + widget_id;var ss = document.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s, ss);}    if (d.readyState == 'complete') { l(); } else { if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
})();
</script>
<!-- {/literal} END JIVOSITE CODE -->