<!--

Header

-->

  <header class="header">
    <a id="navigation"></a>
    <div class="container-fluid">
      <div class="row">
        <!-- Company logo -->
        <div class="col-md-2 wrapper-logo">
          <a class="logo" href="index.shtml"><img alt="Moovemedia Logo" src="assets/images/mm-sg-logo.jpg"></a>
        </div><!--// Company logo -->
        <!-- Menu-->
        <div class="col-md-10 main-navigation">
          <div class="main-navigation-wrapper-nav pull-left">
            <div class="wrapper-nav-content-mobile">
              <!--FLAG MOBILE-->
              <div class="flag-lang mobile">
                <ul>
                  <li>
                    <a class="flag-lang-link" href="/"><img alt="Flag Australia" src="assets/images/flags/flag-au.jpg"></a>
                  </li>
                  <li>
                    <a class="flag-lang-link" href="/"><img alt="Flag Singapore" src="assets/images/flags/flag-sin.jpg"></a>
                  </li>
                </ul>
              </div><!--// FLAG MOBILE-->
              <!-- NAV MENU -->
              <ul class="nav">
                <li class="menu-item-has-children">
                  <a href="about.shtml">We Are Moove</a>
                  <ul class="nav-submenu">
                    <li>
                      <a href="about.shtml">Our story</a>
                    </li>
                    <li>
                      <a href="about.shtml">Our events</a>
                    </li>
                    <li>
                      <a href="about.shtml">Our clients</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="platform-landing.shtml">Platforms</a>
                </li>
                <li>
                  <a href="creative.shtml">Creatives</a>
                </li>
                <li>
                  <a href="page-inthenews.shtml">In the News</a>
                </li>
                <li>
                  <a href="page-rate.shtml">Rates</a>
                </li>
                <li>
                  <a href="page-promotions.shtml">promotions</a>
                </li>
                <li>
                  <a href="page-stories.shtml">STORIES</a>
                </li>
                <li>
                  <a href="contact.shtml">Contact Us</a>
                </li>
              </ul>
              <!--// NAV MENU -->
              <div class="search-button desktop">
                <img alt="search" src="assets/images/search-icon.jpg">
              </div>

              <!-- HEADER SOCMED -->
              <ul class="header-socmed">
                <li>
                  <a href="#" alt="Facebook">
                    <span class="icon-if_facebook_circle">
                        <span class="path1"></span><span class="path2"></span>
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#" alt="Instagram">
                    <span class="icon-if_instagram_circle">
                      <span class="path1"></span><span class="path2"></span>
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#" alt="Linkedin" >
                    <span class="icon-if_linkedin_circle">
                      <span class="path1"></span><span class="path2"></span>
                    </span> 
                  </a>
                </li>

                <li>
                  <a href="#" alt="Pinterest">
                    <span class="icon-if_pinterest_circle">
                      <span class="path1"></span><span class="path2"></span>
                    </span>
                  </a>
                </li>
              </ul>
              <!--// HEADER SOCMED -->

            </div>
          </div>
          <div class="pull-right">
            <div class="search-button mobile">
              <i class="fa fa-search"></i>
            </div>
            <div class="menu-mobile-btn">
              <a class="btn btn-navbar"><span class="icon-bar"></span></a>
            </div><!-- FLAG DESKTOP-->
            <div class="flag-lang desktop">
              <ul>
                <li>
                  <a class="flag-lang-link" href="/"><img alt="Flag Australia" src="assets/images/flags/flag-au.jpg">
                  <div>
                    AUS
                  </div></a>
                </li>
                <li>
                  <a class="flag-lang-link" href="/"><img alt="Flag Singapore" src="assets/images/flags/flag-sin.jpg">
                  <div>
                    Sin
                  </div></a>
                </li>
              </ul>
            </div><!--// FLAG DESKTOP-->
          </div>
        </div><!--// Menu -->
      </div>
    </div><!-- Search -->
    <div class="search-bar-wrapper">
      <div class="search-bar">
        <div class="container-fluid">
          <form action="search-result" class="form-search" method="get">
            <label class="access" for="searchTextbox">Search</label>
            <input class="search-bar-field form-control" id="searchTextbox" name="term" type="search">
          </form>
        </div>
      </div>
    </div><!--// Search -->
  </header>


